# SPDX-License-Identifier: GPL-2.0-only

menuconfig MTD_SPI_NAND
	bool "SPI NAND device Support"
	depends on SPI
	select MTD_NAND_CORE
	select MTD_NAND_ECC
	select SPI_MEM
	help
	  This is the framework for the SPI NAND device drivers.
