/*
 * Copyright (C) 2013 Alexander Shiyan <shc_work@mail.ru>
 *
 * The code contained herein is licensed under the GNU General Public
 * License. You may obtain a copy of the GNU General Public License
 * Version 2 or later at the following locations:
 *
 * http://www.opensource.org/licenses/gpl-license.html
 * http://www.gnu.org/copyleft/gpl.html
 */

#include "imx51-digi-connectcore-som.dts"

/ {
	model = "Digi ConnectCore CC(W)-MX51 JSK";
	compatible = "digi,connectcore-ccxmx51-jsk",
		     "digi,connectcore-ccxmx51-som", "fsl,imx51";

	display@di0 {
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_ipu_disp1_1>;
		compatible = "fsl,imx-parallel-display";
		crtcs = <&ipu 0>;
		interface-pix-fmt = "rgb565";

		display-timings {
			native-mode = <&timing_di0_0>;

			timing_di0_0: PH320240T {
				clock-frequency = <6333328>;
				hactive = <320>;
				vactive = <240>;
				hback-porch = <38>;
				hfront-porch = <20>;
				hsync-len = <30>;
				vback-porch = <15>;
				vfront-porch = <5>;
				vsync-len = <3>;
				pixelclk-active = <1>;
				hsync-active = <0>;
				vsync-active = <0>;
				de-active = <1>;
			};
		};
	};

/*	display@di1 {
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_ipu_disp2_1>;
		compatible = "fsl,imx-parallel-display";
		crtcs = <&ipu 1>;
		interface-pix-fmt = "rgb565";

		display-timings {
			native-mode = <&timing_di1_0>;

			timing_di1_0: PD104SL5 {
				clock-frequency = <33250000>;
				hactive = <800>;
				vactive = <600>;
				hback-porch = <30>;
				hfront-porch = <30>;
				hsync-len = <60>;
				vback-porch = <1>;
				vfront-porch = <1>;
				vsync-len = <2>;
				pixelclk-active = <1>;
				de-active = <1>;
			};
		};
	};*/

	clocks {
		compatible = "simple-bus";
		#address-cells = <1>;
		#size-cells = <0>;

		clk20m: clock@0 {
			compatible = "fixed-clock";
			reg = <0>;
			clock-frequency = <20000000>;
			#clock-cells = <0>;
		};
	};

	beeper: beeper {
		compatible = "gpio-beeper";
		gpios = <&gpio3 23 0>;
	};

	gpiokeys: gpiokeys {
		compatible = "gpio-keys";

		button@0 {
			label = "CONFIRM";
			linux,code = <0x0000>;
			linux,input-type = <0x05>;
			gpios = <&gpio3 22 1>;
		};

		button@1 {
			label = "PF_LOW";
			linux,code = <0x0001>;
			linux,input-type = <0x05>;
			debounce-interval = <0>;
			gpios = <&gpio3 18 1>;
		};

		button@2 {
			label = "PF_HIGH";
			linux,code = <0x0002>;
			linux,input-type = <0x05>;
			debounce-interval = <0>;
			gpios = <&gpio3 19 1>;
		};

		button@3 {
			label = "REVERSE";
			linux,code = <0x0003>;
			linux,input-type = <0x05>;
			gpios = <&gpio3 17 1>;
		};
	};

/*
	usbh1rst: usbh1rst {
		compatible = "regulator-fixed";
		regulator-name = "USBH11-RESET";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		gpios = <&gpio3 8 0>;
		startup-delay-us = <650>;
		regulator-always-on;
	};
*/

	sound {
		compatible = "simple-bus";

		ssi0 {
		};

		ssi1 {
		};
	};
};

&audmux {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_audmux_1 &pinctrl_audmux_2>;
	status = "okay";

	/* SSI.0 slave I2S 4-wire, sync, AUD3, playback only */
	ssi0 {
		fsl,audmux-port = <0>; /* MX51_AUDMUX_PORT1_SSI0 */
		fsl,port-config = <0x94800800>, <0x00004000>;
/*
IMX_AUDMUX_V2_PTCR_TFSDIR |
IMX_AUDMUX_V2_PTCR_TFSEL(MX51_AUDMUX_PORT3) |
IMX_AUDMUX_V2_PTCR_TCLKDIR |
IMX_AUDMUX_V2_PTCR_TCSEL(MX51_AUDMUX_PORT3) |
IMX_AUDMUX_V2_PTCR_SYN
*/
/*
IMX_AUDMUX_V2_PDCR_RXDSEL(MX51_AUDMUX_PORT3)
*/
	};

	port3 {
		fsl,audmux-port = <2>; /* MX51_AUDMUX_PORT3 */
		fsl,port-config = <0x00000800> ,<0x00000000>;
	};
/*
IMX_AUDMUX_V2_PTCR_SYN
*/
/*
IMX_AUDMUX_V2_PDCR_RXDSEL(MX51_AUDMUX_PORT1_SSI0)
*/

	/* SSI.1 slave I2S 4-wire, sync, AUD5, record only */
	ssi1 {
		fsl,audmux-port = <1>; /* MX51_AUDMUX_PORT2_SSI1 */
		fsl,port-config = <0xa5000800>, <0x00008000>;
	};
/*
IMX_AUDMUX_V2_PTCR_TFSDIR |
IMX_AUDMUX_V2_PTCR_TFSEL(MX51_AUDMUX_PORT5) |
IMX_AUDMUX_V2_PTCR_TCLKDIR |
IMX_AUDMUX_V2_PTCR_TCSEL(MX51_AUDMUX_PORT5) |
IMX_AUDMUX_V2_PTCR_SYN
*/
/*
IMX_AUDMUX_V2_PDCR_RXDSEL(MX51_AUDMUX_PORT5)
*/

	port5 {
		fsl,audmux-port = <4>; /* MX51_AUDMUX_PORT5 */
		fsl,port-config = <0x00000800>, <0x00002000>;
	};
/*
IMX_AUDMUX_V2_PTCR_SYN
*/
/*
IMX_AUDMUX_V2_PDCR_RXDSEL(MX51_AUDMUX_PORT2_SSI1)
*/
};

&ecspi1 {
	fsl,spi-num-chipselects = <2>;
	cs-gpios = <&gpio4 24 0>, <&gpio3 3 1>;

	spidev: spidev@1 {
		compatible = "rohm,dh2228fv";
		reg = <1>;
		spi-max-frequency = <20000000>;
	};
};

&ecspi2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_ecspi2_1>;
	fsl,spi-num-chipselects = <4>;
	cs-gpios = <&gpio3 6 1>, <&gpio1 0 1>, <&gpio1 1 1>, <&gpio4 26 1>;
	status = "okay";

	max14830: max14830@0 {
		compatible = "maxim,max14830";
		spi-max-frequency = <16000000>;
		reg = <0>;
		clocks = <&clk20m>;
		clock-names = "osc";
		interrupt-parent = <&gpio3>;
		interrupts = <7 0x2>;
		gpio-controller;
		#gpio-cells = <2>;
	};

	mcp2515@1 {
		compatible = "microchip,mcp2515";
		spi-max-frequency = <10000000>;
		reg = <1>;
		clocks = <&clk20m>;
		interrupt-parent = <&gpio4>;
		interrupts = <13 0x2>;
	};

	mcp2515@2 {
		compatible = "microchip,mcp2515";
		spi-max-frequency = <10000000>;
		reg = <2>;
		clocks = <&clk20m>;
		interrupt-parent = <&gpio4>;
		interrupts = <14 0x2>;
	};

	mcp2515@3 {
		compatible = "microchip,mcp2515";
		spi-max-frequency = <10000000>;
		reg = <3>;
		clocks = <&clk20m>;
		interrupt-parent = <&gpio4>;
		interrupts = <25 0x2>;
	};
};

&i2c2 {
	wm8753: wm8753@1b {
		compatible = "wlf,wm8753";
		reg = <0x1b>;
	};

	at24@50 {
		compatible = "at,24c16";
		reg = <0x50>;
		pagesize = <256>;
	};
};

&kpp {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_kpp_1 &pinctrl_kpp_col45_1>;
	linux,keymap = <
		0x00000000
		0x00010001
		0x00020002
		0x00030003
		0x00040004
		0x00050005
		0x01000010
		0x01010011
		0x01020012
		0x01030013
		0x01040014
		0x01050015
		0x02000020
		0x02010021
		0x02020022
		0x02030023
		0x02040024
		0x02050025
		0x03000030
		0x03010031
		0x03020032
		0x03030033
		0x03040034
		0x03050035
	>;
	status = "okay";
};

&owire {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_owire_1>;
	status = "okay";
};

&ssi1 {
	fsl,mode = "i2s-slave";
	status = "okay";
};

&ssi2 {
	fsl,mode = "i2s-slave";
	status = "okay";
};

&tve {
	clocks = <&clks 69>, <&clks 115>;
	clock-names = "tve", "di_sel";
	crtcs = <&ipu 0>;
	fsl,tve-mode = "tvout";
	status = "okay";
};

&uart2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart2_1>;
	status = "okay";
};

&uart3 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart3_2>;
	status = "okay";
};

&usbotg {
	dr_mode = "otg";
	status = "okay";
};

&usbh1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usbh1_1>;
	dr_mode = "host";
	phy_type = "ulpi";
	disable-over-current;
	status = "okay";
};

&weim {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_weim_1 &pinctrl_weim_cs4_1 &pinctrl_weim_cs5_1>;

	hwrev: hwrev@cc000000 {
		compatible = "simple-bus";
		reg = <4 0x00000000 0x1000>;
		fsl,weim-cs-timing = <
			0x00460081 0x00000000
			0x32260000 0x00000000
			0x72080f00 0x00000000
		>;
	};
};

&iomuxc {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_hog &pinctrl_custom>;

	audmux {
		pinctrl_audmux_1: audmuxgrp-1 {
			fsl,pins = <
				MX51_PAD_AUD3_BB_TXD__AUD3_TXD 0x80000000
				MX51_PAD_AUD3_BB_CK__AUD3_TXC  0x80000000
				MX51_PAD_AUD3_BB_FS__AUD3_TXFS 0x80000000
			>;
		};

		pinctrl_audmux_2: audmuxgrp-2 {
			fsl,pins = <
				MX51_PAD_SD1_DATA1__AUD5_RXD 0x80000000
				MX51_PAD_SD1_CLK__AUD5_RXC   0x80000000
				MX51_PAD_SD1_CMD__AUD5_RXFS  0x80000000
			>;
		};
	};

	custom {
		pinctrl_custom: customgrp {
			fsl,pins = <
				/* eCSPI Chipselects */
				MX51_PAD_DI1_D0_CS__GPIO3_3      0x85
				MX51_PAD_DISPB2_SER_DIO__GPIO3_6 0x85
				MX51_PAD_GPIO1_0__GPIO1_0        0x85
				MX51_PAD_GPIO1_1__GPIO1_1        0x85
				MX51_PAD_CSPI1_RDY__GPIO4_26     0x85
				/* MAX14830 IRQ */
				MX51_PAD_DISPB2_SER_CLK__GPIO3_7 0xe5
				/* USBH1 Reset */
				MX51_PAD_DISPB2_SER_RS__GPIO3_8  0x85
				/* MCP2515 IRQ */
				MX51_PAD_CSI2_VSYNC__GPIO4_13    0xe5
				MX51_PAD_CSI2_HSYNC__GPIO4_14    0xe5
				MX51_PAD_CSPI1_SS1__GPIO4_25     0xe5
				/* IO Enable */
				MX51_PAD_DI1_PIN13__GPIO3_2      0x85
				/* GPIO Keys*/
				MX51_PAD_NANDF_CS1__GPIO3_17     0xe5
				MX51_PAD_NANDF_CS2__GPIO3_18     0xe5
				MX51_PAD_NANDF_CS3__GPIO3_19     0xe5
				MX51_PAD_NANDF_CS4__GPIO3_20     0xe5
				MX51_PAD_NANDF_CS5__GPIO3_21     0xe5
				MX51_PAD_NANDF_CS6__GPIO3_22     0xe5
				/* Buzzer */
				MX51_PAD_NANDF_CS7__GPIO3_23     0x85
				/* At this time unused, but routed */
				MX51_PAD_DI1_PIN11__GPIO3_0      0xe5
				MX51_PAD_DI1_PIN12__GPIO3_1      0xe5
				MX51_PAD_DI1_D1_CS__GPIO3_4      0xe5
				MX51_PAD_DISPB2_SER_DIN__GPIO3_5 0xe5
				MX51_PAD_NANDF_RB1__GPIO3_9      0x85
				MX51_PAD_CSI1_D8__GPIO3_12       0xe5
				MX51_PAD_CSI1_D9__GPIO3_13       0xe5
				MX51_PAD_CSI1_VSYNC__GPIO3_14    0xe5
				MX51_PAD_CSI1_HSYNC__GPIO3_15    0xe5
				MX51_PAD_AUD3_BB_RXD__GPIO4_19   0xe5
			>;
		};
	};
};
