// SPDX-License-Identifier: GPL-2.0-or-later
/* SPDX-FileCopyrightText: Alexander Shiyan, <shc_work@mail.ru> */

/dts-v1/;

#include <arm/am335x-myirtech-myd.dts>

/ {
	chosen {
		environment {
			compatible = "barebox,environment";
			device-path = &env_nand;
		};
	};

};

#include "mm_am335x.dtsi"
