/*
 * The code contained herein is licensed under the GNU General Public
 * License. You may obtain a copy of the GNU General Public License
 * Version 2 or later at the following locations:
 */

/dts-v1/;
#include "skeleton.dtsi"

#include <dt-bindings/clock/clps711x-clock.h>
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>
#include <dt-bindings/input/linux-event-codes.h>

/ {
	model = "Cirrus Logic CLPS711X";
	compatible = "cirrus,ep7209";

	memory {
		reg = <0xc0000000 0x04000000>;
	};

	aliases {
		gpio0 = &porta;
		gpio1 = &portb;
		gpio2 = &portc;
		gpio3 = &portd;
		gpio4 = &porte;
		serial0 = &uart1;
		serial1 = &uart2;
		spi0 = &spi;
		timer0 = &timer1;
		timer1 = &timer2;
	};

	cpus {
		#address-cells = <0>;
		#size-cells = <0>;

		cpu {
			device_type = "cpu";
			compatible = "arm,arm720t";
		};
	};

	clocks {
		clk3m: clk3m {
			compatible = "fixed-clock";
			clock-frequency = <3686400>;
			#clock-cells = <0>;
		};

		clk16m: clk16m {
			compatible = "fixed-clock";
			clock-frequency = <16000000>;
			#clock-cells = <0>;
		};
	};

	display: display {
		model = "320x240x4";
		native-mode = <&timing0>;
		bits-per-pixel = <4>;
		ac-prescale = <17>;

		display-timings {
			timing0: 320x240 {
				hactive = <320>;
				hback-porch = <0>;
				hfront-porch = <0>;
				hsync-len = <0>;
				vactive = <240>;
				vback-porch = <0>;
				vfront-porch = <0>;
				vsync-len = <0>;
				clock-frequency = <6500000>;
			};
		};
	};

	sound {
		compatible = "simple-audio-card";
		simple-audio-card,name = "DAICS4351";
		simple-audio-card,format = "left_j";
		simple-audio-card,bitclock-master = <&audio_master>;
		simple-audio-card,frame-master = <&audio_master>;

		audio_master: simple-audio-card,cpu {
			sound-dai = <&dai>;
			clocks = <&clks CLPS711X_CLK_DUMMY>;
		};

		simple-audio-card,codec {
			sound-dai = <&codec>;
		};
	};

	soc {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "simple-bus";
		interrupt-parent = <&intc>;
		ranges;

		clks: clks@80000000 {
			#clock-cells = <1>;
			compatible = "cirrus,ep7312-clk", "cirrus,ep7209-clk";
			reg = <0x80000000 0xc000>;
			startup-frequency = <73728000>;
		};

		intc: intc@80000000 {
			compatible = "cirrus,ep7312-intc", "cirrus,ep7209-intc";
			reg = <0x80000000 0x4000>;
			interrupt-controller;
			#interrupt-cells = <1>;
		};

		porta: gpio@80000000 {
			compatible = "cirrus,ep7312-gpio", "cirrus,ep7209-gpio";
			reg = <0x80000000 0x1 0x80000040 0x1>;
			gpio-controller;
			#gpio-cells = <2>;
		};

		portb: gpio@80000001 {
			compatible = "cirrus,ep7312-gpio", "cirrus,ep7209-gpio";
			reg = <0x80000001 0x1 0x80000041 0x1>;
			gpio-controller;
			#gpio-cells = <2>;
		};

		portc: gpio@80000002 {
			compatible = "cirrus,ep7312-gpio", "cirrus,ep7209-gpio";
			reg = <0x80000002 0x1 0x80000042 0x1>;
			gpio-controller;
			#gpio-cells = <2>;
			status = "disabled";
		};

		portd: gpio@80000003 {
			compatible = "cirrus,ep7312-gpio", "cirrus,ep7209-gpio";
			reg = <0x80000003 0x1 0x80000043 0x1>;
			gpio-controller;
			#gpio-cells = <2>;
		};

		porte: gpio@80000083 {
			compatible = "cirrus,ep7312-gpio", "cirrus,ep7209-gpio";
			reg = <0x80000083 0x1 0x800000c3 0x1>;
			gpio-controller;
			#gpio-cells = <2>;
		};

		syscon1: syscon@80000100 {
			compatible = "cirrus,ep7312-syscon1", "cirrus,ep7209-syscon1", "syscon";
			reg = <0x80000100 0x80>;
		};

		bus: bus@80000180 {
			#address-cells = <2>;
			#size-cells = <1>;
			compatible = "cirrus,ep7312-bus", "cirrus,ep7209-bus", "simple-bus";
			clocks = <&clks CLPS711X_CLK_BUS>;
			reg = <0x80000180 0x80>;
			ranges = <
				0 0 0x00000000 0x10000000
				1 0 0x10000000 0x10000000
				2 0 0x20000000 0x10000000
				3 0 0x30000000 0x10000000
				4 0 0x40000000 0x10000000
				5 0 0x50000000 0x10000000
				6 0 0x60000000 0x0000c000
				7 0 0x70000000 0x00000080
			>;
		};

		fb: fb@800002c0 {
			compatible = "cirrus,ep7312-fb", "cirrus,ep7209-fb";
			reg = <0x800002c0 0xd44>, <0x60000000 0xc000>;
			clocks = <&clks CLPS711X_CLK_BUS>;
			status = "disabled";
		};

		timer1: timer@80000300 {
			compatible = "cirrus,ep7312-timer", "cirrus,ep7209-timer";
			reg = <0x80000300 0x4>;
			clocks = <&clks CLPS711X_CLK_TIMER1>;
			interrupts = <8>;
		};

		timer2: timer@80000340 {
			compatible = "cirrus,ep7312-timer", "cirrus,ep7209-timer";
			reg = <0x80000340 0x4>;
			clocks = <&clks CLPS711X_CLK_TIMER2>;
			interrupts = <9>;
		};

		pwm: pwm@80000400 {
			compatible = "cirrus,ep7312-pwm", "cirrus,ep7209-pwm";
			reg = <0x80000400 0x4>;
			clocks = <&clks CLPS711X_CLK_PWM>;
			#pwm-cells = <1>;
		};

		uart1: uart@80000480 {
			compatible = "cirrus,ep7312-uart", "cirrus,ep7209-uart";
			reg = <0x80000480 0x80>;
			interrupts = <12 13>;
			clocks = <&clks CLPS711X_CLK_UART>;
			syscon = <&syscon1>;
		};

		spi: spi@80000500 {
			#address-cells = <1>;
			#size-cells = <0>;
			compatible = "cirrus,ep7312-spi", "cirrus,ep7209-spi";
			reg = <0x80000500 0x4>;
			interrupts = <15>;
			clocks = <&clks CLPS711X_CLK_SPI>;
			status = "disabled";
		};

		syscon2: syscon@80001100 {
			compatible = "cirrus,ep7312-syscon2", "cirrus,ep7209-syscon2", "syscon";
			reg = <0x80001100 0x80>;
		};

		uart2: uart@80001480 {
			compatible = "cirrus,ep7312-uart", "cirrus,ep7209-uart";
			reg = <0x80001480 0x80>;
			interrupts = <28 29>;
			clocks = <&clks CLPS711X_CLK_UART>;
			syscon = <&syscon2>;
		};

		dai: dai@80002000 {
			#sound-dai-cells = <0>;
			compatible = "cirrus,ep7312-dai", "cirrus,ep7209-dai";
			reg = <0x80002000 0x604>;
			clocks = <&clks CLPS711X_CLK_PLL>;
			clock-names = "pll";
			interrupts = <32>;
		};

		syscon3: syscon@80002200 {
			compatible = "cirrus,ep7312-syscon3", "cirrus,ep7209-syscon3", "syscon";
			reg = <0x80002200 0x40>;
		};
	};

	backlight {
		#address-cells = <1>;
		#size-cells = <0>;
		compatible = "simple-bus";

		backlight@0 {
			compatible = "pwm-backlight";
			reg = <0>;
			pwms = <&pwm 0>;
			brightness-levels = <
				0x0 0x1 0x2 0x3 0x4 0x5 0x6 0x7
				0x8 0x9 0xa 0xb 0xc 0xd 0xe 0xf
			>;
			default-brightness-level = <0x0>;
			power-supply = <&reg5v0>;
		};
	};

	i2c: i2c0 {
		compatible = "i2c-gpio";
		gpios = <&sdagpio 0 GPIO_ACTIVE_HIGH>,
			<&sclgpio 0 GPIO_ACTIVE_HIGH>;
		i2c-gpio,sda-open-drain;
		i2c-gpio,scl-open-drain;
		#address-cells = <1>;
		#size-cells = <0>;
	};

	inputs {
		#address-cells = <1>;
		#size-cells = <0>;
		compatible = "simple-bus";

		beeper: input@0 {
			compatible = "gpio-beeper";
			reg = <0>;
			gpios = <&portb 0 GPIO_ACTIVE_HIGH>;
		};

		switches: input@1 {
			compatible = "gpio-keys-polled";
			reg = <1>;
			poll-interval = <37>;

			button@0 {
				label = "SHIFT";
				linux,code = <SW_LID>;
				linux,input-type = <EV_SW>;
				gpios = <&porta 5 GPIO_ACTIVE_HIGH>;
			};

			button@1 {
				label = "PWR_L";
				linux,code = <SW_TABLET_MODE>;
				linux,input-type = <EV_SW>;
				gpios = <&mctrl 0 GPIO_ACTIVE_LOW>;
				debounce-interval = <0>;
			};

			button@2 {
				label = "PWR_H";
				linux,code = <SW_HEADPHONE_INSERT>;
				linux,input-type = <EV_SW>;
				gpios = <&mctrl 1 GPIO_ACTIVE_LOW>;
				debounce-interval = <0>;
			};
		};

		keypad: input@2 {
			compatible = "cirrus,ep7312-keypad", "cirrus,ep7209-keypad";
			reg = <2>;
			autorepeat;
			poll-interval = <67>;
			row-gpios = <&porta 0 GPIO_ACTIVE_HIGH>,
				    <&porta 1 GPIO_ACTIVE_HIGH>,
				    <&porta 2 GPIO_ACTIVE_HIGH>,
				    <&porta 3 GPIO_ACTIVE_HIGH>,
				    <&porta 4 GPIO_ACTIVE_HIGH>;
			linux,keymap = <
				MATRIX_KEY(0,4,0x35)
				MATRIX_KEY(0,5,0x3a)
				MATRIX_KEY(0,6,0x3f)
				MATRIX_KEY(0,7,0x44)
				MATRIX_KEY(1,0,0x22)
				MATRIX_KEY(1,1,0x27)
				MATRIX_KEY(1,2,0x2c)
				MATRIX_KEY(1,3,0x31)
				MATRIX_KEY(2,0,0x23)
				MATRIX_KEY(2,1,0x28)
				MATRIX_KEY(2,2,0x2d)
				MATRIX_KEY(2,3,0x32)
				MATRIX_KEY(3,0,0x24)
				MATRIX_KEY(3,1,0x29)
				MATRIX_KEY(3,2,0x2e)
				MATRIX_KEY(3,3,0x33)
				MATRIX_KEY(4,0,0x25)
				MATRIX_KEY(4,1,0x2a)
				MATRIX_KEY(4,2,0x2f)
				MATRIX_KEY(4,3,0x34)
			>;
		};
	};

	mctrl: mctrl {
		compatible = "cirrus,ep7312-mctrl-gpio", "cirrus,ep7209-mctrl-gpio";
		gpio-controller;
		#gpio-cells = <2>;
	};

	reg3v3: reg3v3 {
		compatible = "regulator-fixed";
		regulator-name = "3V3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
	};

	reg5v0: reg5v0 {
		compatible = "regulator-fixed";
		regulator-name = "5V0";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
	};

	sc2892rst: reg_sc2892rst {
		compatible = "regulator-fixed";
		regulator-name = "RST";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		gpio = <&portb 7 GPIO_ACTIVE_LOW>;
		startup-delay-us = <1>;
	};

	reg_ide0: reg_ide0 {
		compatible = "regulator-gpio";
		regulator-type = "voltage";
		regulator-name = "IDE0";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <5000000>;
		enable-gpio = <&portd 0 GPIO_ACTIVE_HIGH>;
		enable-active-high;
		gpios = <&portd 3 GPIO_ACTIVE_HIGH>,
			<&portd 2 GPIO_ACTIVE_HIGH>;
		states = <
			3300000 0x1
			5000000 0x2
		>;
		gpios-states = <0 1>;
		regulator-always-on;
		enable-at-boot;
	};

	reg_ide1: reg_ide1 {
		compatible = "regulator-gpio";
		regulator-type = "voltage";
		regulator-name = "IDE1";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <5000000>;
		enable-gpio = <&portd 1 GPIO_ACTIVE_HIGH>;
		enable-active-high;
		gpios = <&portd 5 GPIO_ACTIVE_HIGH>,
			<&portd 4 GPIO_ACTIVE_HIGH>;
		states = <
			3300000 0x1
			5000000 0x2
		>;
		gpios-states = <0 1>;
		regulator-always-on;
		enable-at-boot;
	};

	watchdog: watchdog {
		compatible = "linux,wdt-gpio";
		gpios = <&portb 3 GPIO_ACTIVE_LOW>;
		hw_algo = "toggle";
		hw_margin_ms = <1500>;
		always-running;
	};
};

&bus {
	nor: nor@00000000 {
		compatible = "cfi-flash";
		reg = <0 0x00000000 0x02000000>;
		bank-width = <2>;
		linux,mtd-name = "physmap-flash.0";
		#address-cells = <1>;
		#size-cells = <1>;
	};

	rtc@10000000 {
		compatible = "maxim,ds1742";
		reg = <1 0x00000000 0x800>;
	};

	sdagpio: sdagpio@10000804 {
		compatible = "wd,mbl-gpio";
		reg = <1 0x00000804 0x1>;
		reg-names = "dat";
		gpio-controller;
		#gpio-cells = <2>;
	};

	sclgpio: sclgpio@10000805 {
		compatible = "wd,mbl-gpio";
		reg = <1 0x00000805 0x1>;
		reg-names = "dat";
		gpio-controller;
		#gpio-cells = <2>;
	};

	uart@10100000 {
		compatible = "nxp,sc2892";
		reg = <1 0x00100000 0x10>;
		clocks = <&clk3m>;
		poll-interval = <2000>;
		nxp,sccnxp-io-cfg = <0x01000000 0x02000000>;
		vcc-supply = <&sc2892rst>;
	};

	bgpio@10200000 {
		compatible = "ti,74244";
		reg = <1 0x00200000 0x1>;
		gpio-controller;
		#gpio-cells = <2>;
	};

	ide@20000000 {
		compatible = "ata-generic";
		reg = <
			2 0x00000000 0x20
			2 0x00080018 0x04
		>;
		interrupts = <5>;
		reg-shift = <2>;
		pio-mode = <2>;
		vcc-supply = <&reg_ide0>;
	};

	ide@20100000 {
		compatible = "ata-generic";
		reg = <
			2 0x00100000 0x20
			2 0x00180018 0x04
		>;
		interrupts = <6>;
		reg-shift = <2>;
		pio-mode = <2>;
		vcc-supply = <&reg_ide1>;
	};

	nand: nand@30000000 {
		compatible = "gpio-control-nand";
		reg = <3 0x00000000 0x2>;
		chip-delay = <25>;
		gpio-control-nand,bank-width-auto;
		ale-gpios = <&nand_ctrl 1 GPIO_ACTIVE_HIGH>;
		cle-gpios = <&nand_ctrl 0 GPIO_ACTIVE_HIGH>;
		nwp-gpios = <&nand_ctrl 2 GPIO_ACTIVE_LOW>;
		nce-gpios = <&nand_ctrl 4 GPIO_ACTIVE_LOW>,
			    <&nand_ctrl 5 GPIO_ACTIVE_LOW>;
		rdy-gpios = <&nand_stat 1 GPIO_ACTIVE_LOW>,
			    <&nand_stat 2 GPIO_ACTIVE_LOW>;
		#address-cells = <1>;
		#size-cells = <1>;

		partition@0 {
			label = "nand-gpio";
			reg = <0 0>;
		};
	};

	nand_ctrl: bgpio@30008004 {
		compatible = "ti,74174";
		reg = <3 0x00008004 0x1>;
		gpio-controller;
		#gpio-cells = <2>;
	};

	nand_stat: bgpio@30008014 {
		compatible = "ti,74365";
		reg = <3 0x00008014 0x1>;
		gpio-controller;
		#gpio-cells = <2>;
	};
};

&fb {
	display = <&display>;
	status = "okay";
};

&i2c {
	at24@50 {
		compatible = "at,24c16";
		reg = <0x50>;
		pagesize = <256>;
	};

	rtc@68 {
		compatible = "maxim,ds3231";
		reg = <0x68>;
		#clock-cells = <1>;
	};
};

&spi {
	cs-gpios = <&portb 4 GPIO_ACTIVE_LOW>,
		   <&portb 5 GPIO_ACTIVE_LOW>,
		   <&portb 6 GPIO_ACTIVE_LOW>;
	status = "okay";

	codec: codec@0 {
		#sound-dai-cells = <0>;
		compatible = "cirrus,cs4341a";
		reg = <0>;
		spi-max-frequency = <6000000>;
	};

	gpio@1 {
		compatible = "fairchild,74hc595";
		reg = <1>;
		spi-max-frequency = <4000000>;
		registers-number = <1>;
		gpio-controller;
		#gpio-cells = <2>;
	};

	can@2 {
		compatible = "microchip,mcp2510";
		reg = <2>;
		spi-max-frequency = <5000000>;
		clocks = <&clk16m>;
		interrupts = <7>;
		vdd-supply = <&reg3v3>;
		xceiver-supply = <&reg3v3>;
	};
};
