/* SPDX-License-Identifier: GPL-2.0+ */
/* SPDX-FileCopyrightText: Alexander Shiyan <shc_work@mail.ru> */

/dts-v1/;
/plugin/;

#include <arm/microchip/sama5d2-pinfunc.h>

&{/} {
	model = "Mega-Milas SAMA5D2 EVB";
	compatible = "milas,mm-sm-sama5d2-evb", "milas,mm-sm-sama5d2",
		     "atmel,sama5d27", "atmel,sama5d2", "atmel,sama5";

	clk24m: clk24m {
		compatible = "fixed-clock";
		clock-frequency = <24000000>;
		#clock-cells = <0>;
	};

	panel {
		compatible = "panel-lvds";
		backlight = <&backlight>;
		data-mapping = "jeida-18";
		power-supply = <&vcc_3v3_sys>;
		width-mm = <0>;
		height-mm = <0>;

#if 0
		/* AT070TN94 */
		panel-timing {
			clock-frequency = <26400000 33300000 46800000>;
			hactive = <800>;
			vactive = <480>;
			hback-porch = <46>;
			hfront-porch = <16 209 354>;
			hsync-len = <1 1 40>;
			vback-porch = <23>;
			vfront-porch = <7 21 147>;
			vsync-len = <1 1 20>;
			hsync-active = <0>;
			vsync-active = <0>;
			de-active = <1>;
			pixelclk-active = <0>;
		};
#endif

		/* PH320240T, G057QN01 */
		panel-timing {
			clock-frequency = <6400000>;
			hactive = <320>;
			vactive = <240>;
			hback-porch = <38>;
			hfront-porch = <20>;
			hsync-len = <30>;
			vback-porch = <15>;
			vfront-porch = <5>;
			vsync-len = <1 3 5>;
			hsync-active = <0>;
			vsync-active = <0>;
			de-active = <1>;
			pixelclk-active = <1>;
		};

		port {
			panel_in: endpoint {
				remote-endpoint = <&lvds_out>;
			};
		};
	};

	sound {
		compatible = "simple-audio-card";
		simple-audio-card,format = "i2s";
		simple-audio-card,bitclock-master = <&sound_master>;
		simple-audio-card,frame-master = <&sound_master>;
		simple-audio-card,mclk-fs = <512>;
		simple-audio-card,name = "I2S0SGTL5000";

		sound_master: simple-audio-card,cpu {
			sound-dai = <&i2s0>;
		};

		simple-audio-card,codec {
			sound-dai = <&codec>;
		};
	};

	vcc_1v8_sys: vcc-1v8-sys-regulator {
		compatible = "regulator-fixed";
		regulator-name = "vcc_1v8_sys";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		regulator-always-on;
		regulator-boot-on;
	};

	vcc_3v3_sys: vcc-3v3-sys-regulator {
		compatible = "regulator-fixed";
		regulator-name = "vcc_3v3_sys";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-always-on;
		regulator-boot-on;
	};
};

&hlcdc {
	status = "okay";

	hlcdc-display-controller {
		bus-width = <18>;
	};
};

&i2c0 {
	#address-cells = <1>;
	#size-cells = <0>;

	codec: codec@a {
		compatible = "fsl,sgtl5000";
		reg =<0xa>;
		clocks = <&clk24m>;
		micbias-resistor-k-ohms = <2>;
		micbias-voltage-m-volts = <2250>;
		VDDA-supply = <&vcc_3v3_sys>;
		VDDIO-supply = <&vcc_1v8_sys>;
		VDDD-supply = <&vcc_1v8_sys>;
		#sound-dai-cells = <0>;
	};

	gpio@24 {
		/* EVB revision */
		compatible = "ti,tca9534", "nxp,pca9534";
		reg = <0x24>;
		gpio-controller;
		#gpio-cells = <2>;
	};
};

&i2c3 {
	#address-cells = <1>;
	#size-cells = <0>;

	isl97671a@2c {
		compatible = "intersil,isl97671a";
		reg = <0x2c>;
	};

	gpio@41 {
		/* Display ID */
		compatible = "nxp,pca9536";
		reg = <0x41>;
		gpio-controller;
		#gpio-cells = <2>;
	};
};

&lvds_encoder {
	status = "okay";

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@1 {
			reg = <1>;

			lvds_out: endpoint {
				remote-endpoint = <&panel_in>;
			};
		};
	};
};

&spi0 {
	#address-cells = <1>;
	#size-cells = <0>;

	spi@0 {
		compatible = "rohm,dh2228fv";
		reg = <0>;
	};

	spi@1 {
		compatible = "rohm,dh2228fv";
		reg = <1>;
	};
};

&pioA {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_gpio>;

	pinctrl_gpio: gpio-grp {
		pinmux = <PIN_PB0__GPIO>,			/* P108 GPIO0 */
			 <PIN_PD17__GPIO>,			/* P109 GPIO1 */
			 <PIN_PD6__GPIO>,			/* P110 GPIO2 */
			 <PIN_PC16__GPIO>,			/* P111 GPIO3 */
			 <PIN_PC14__GPIO>,			/* P112 GPIO4 */
			 <PIN_PB5__GPIO>,			/* P113 GPIO5 */
			 <PIN_PB6__GPIO>,			/* P114 GPIO6 */
			 <PIN_PC28__GPIO>,			/* P115 GPIO7 */
			 <PIN_PB7__GPIO>,			/* P116 GPIO8 */
			 <PIN_PB8__GPIO>,			/* P117 GPIO9 */
			 <PIN_PC15__GPIO>,			/* P118 GPIO10 */
			 <PIN_PC17__GPIO>,			/* P119 GPIO11 */
			 <PIN_PC24__GPIO>,			/* S142 GPIO12 */
			 <PIN_PD8__GPIO>;			/* S123 GPIO13 */
		bias-disable;
	};

	pinctrl_hlcdc_default: hlcdc-grp-default {
		bits24 {
			pinmux = <PIN_PB11__GPIO>,
				 <PIN_PB12__GPIO>,
				 <PIN_PB19__GPIO>,
				 <PIN_PB20__GPIO>,
				 <PIN_PB27__GPIO>,
				 <PIN_PB28__GPIO>;
			bias-pull-down;
		};
	};
};
