/* SPDX-License-Identifier: GPL-2.0+ */
/* SPDX-FileCopyrightText: Alexander Shiyan <shc_work@mail.ru> */

/dts-v1/;

#include <arm/microchip/sama5d2.dtsi>
#include <arm/microchip/sama5d2-pinfunc.h>
#include <dt-bindings/mfd/atmel-flexcom.h>
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/leds/common.h>
#include <dt-bindings/net/microchip-lan78xx.h>

#include "sama5d2.dtsi"

/ {
	model = "Mega-Milas MM-SM-SAMA5D2";
	compatible = "milas,mm-sm-sama5d2",
		     "atmel,sama5d27", "atmel,sama5d2", "atmel,sama5";

	aliases {
		can0 = &can0;
		can1 = &can1;
		i2c0 = &i2c0;
		i2c1 = &i2c1;
		i2c3 = &i2c3;
		i2c4 = &i2c4;
		serial0 = &uart8;
		serial1 = &uart1;
		serial2 = &uart9;
		serial3 = &uart3;
		spi0 = &spi0;
		spi1 = &qspi1;
	};

	chosen {
		stdout-path = &uart1;
	};

	clocks {
		slow_xtal {
			clock-frequency = <32768>;
		};

		main_xtal {
			clock-frequency = <12000000>;
		};
	};

	backlight {
		compatible = "pwm-backlight";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_backlight>;
		pwms = <&hlcdc_pwm 0 100000 0>;
		brightness-levels = <0 255>;
		num-interpolated-steps = <16>;
		default-brightness-level = <0>;
		enable-gpios = <&pioA PIN_PD28 GPIO_ACTIVE_HIGH>;
	};

	leds {
		compatible = "gpio-leds";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_leds>;

		led-live {
			label = "smarc:live";
			gpios = <&pioA PIN_PD18 GPIO_ACTIVE_HIGH>;
			function = LED_FUNCTION_HEARTBEAT;
			color = <LED_COLOR_ID_RED>;
			linux,default-trigger = LED_FUNCTION_HEARTBEAT;
			default-state = "off";
			panic-indicator;
		};
	};

	qspi1_mux: mux-controller {
		compatible = "gpio-mux";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_qspi1_mux>;
		mux-gpios = <&pioA PIN_PA11 GPIO_ACTIVE_LOW>,
			    <&pioA PIN_PC25 GPIO_ACTIVE_LOW>;
		idle-state = <1>;
		#mux-control-cells = <0>;
	};

	vcc_lan: vcc-lan-regulator {
		compatible = "regulator-fixed";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_reg_lan>;
		regulator-name = "vcc_lan";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		gpio = <&pioA PIN_PC23 GPIO_ACTIVE_HIGH>;
		enable-active-high;
	};

	vcc_sd: vcc-sd-regulator {
		compatible = "regulator-fixed";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_reg_sd>;
		regulator-name = "vcc_sd";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		gpio = <&pioA PIN_PA27 GPIO_ACTIVE_HIGH>;
		enable-active-high;
	};

	vcc_vqmmc: vcc-vqmmc-regulator {
		compatible = "regulator-gpio";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_reg_vqmmc>;
		regulator-name = "vcc_vqmmc";
		regulator-type = "voltage";
		enable-gpios = <&pioA PIN_PA26 GPIO_ACTIVE_HIGH>;
		enable-active-high;
		gpios = <&pioA PIN_PA25 GPIO_ACTIVE_HIGH>;
		states = <1800000 0x1>,
			 <3300000 0x0>;
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <3300000>;
		regulator-boot-on;
		vin-supply = <&vcc_3v3>;
	};
};

&can0 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_can0>;
	status = "okay";
};

&can1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_can1>;
	status = "okay";
};

&flx1 {
	atmel,flexcom-mode = <ATMEL_FLEXCOM_MODE_TWI>;
	status = "okay";
};

&flx2 {
	atmel,flexcom-mode = <ATMEL_FLEXCOM_MODE_TWI>;
	status = "okay";
};

&flx3 {
	atmel,flexcom-mode = <ATMEL_FLEXCOM_MODE_USART>;
	status = "okay";
};

&flx4 {
	atmel,flexcom-mode = <ATMEL_FLEXCOM_MODE_USART>;
	status = "okay";
};

&hlcdc {
	status = "okay";

	hlcdc-display-controller {
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_hlcdc>;
		bus-width = <24>;

		port@0 {
			//TODO:
		};
	};
};

&hlcdc_pwm {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_pwm>;
};

&hsmc {
	status = "disabled";
};

&i2c0 {
	/* I2C_PM */
	pinctrl-names = "default", "gpio", "sleep";
	pinctrl-0 = <&pinctrl_i2c0_default>;
	pinctrl-1 = <&pinctrl_i2c0_gpio>;
	pinctrl-2 = <&pinctrl_i2c0_gpio>;
	sda-gpios = <&pioA PIN_PD29 GPIO_ACTIVE_HIGH>;
	scl-gpios = <&pioA PIN_PD30 (GPIO_ACTIVE_HIGH | GPIO_OPEN_DRAIN)>;
	i2c-analog-filter;
	i2c-digital-filter;
	i2c-digital-filter-width-ns = <35>;
	clock-frequency = <400000>;
	status = "okay";

	pmic@5b {
		compatible = "microchip,mcp16502";
		reg = <0x5b>;
		lpm-gpios = <&pioBU 0 GPIO_ACTIVE_LOW>;

		regulators {
			vcc_3v3: VDD_IO {
				regulator-name = "vcc_3v3";
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;
				regulator-initial-mode = <2>;
				regulator-allowed-modes = <2>, <4>;
				regulator-always-on;

				regulator-state-standby {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <3300000>;
					regulator-mode = <4>;
				};

				regulator-state-mem {
					regulator-off-in-suspend;
					regulator-mode = <4>;
				};
			};

			vcc_1v8: VDD_DDR {
				regulator-name = "vcc_1v8";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-initial-mode = <2>;
				regulator-allowed-modes = <2>, <4>;
				regulator-always-on;

				regulator-state-standby {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <1800000>;
					regulator-mode = <4>;
				};

				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <1800000>;
					regulator-mode = <4>;
				};
			};

			VDD_CORE {
				regulator-name = "vcc_1v25";
				regulator-min-microvolt = <1250000>;
				regulator-max-microvolt = <1250000>;
				regulator-initial-mode = <2>;
				regulator-allowed-modes = <2>, <4>;
				regulator-always-on;

				regulator-state-standby {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <1250000>;
					regulator-mode = <4>;
				};

				regulator-state-mem {
					regulator-off-in-suspend;
					regulator-mode = <4>;
				};
			};

			LDO1 {
				regulator-name = "vcc_2v5";
				regulator-min-microvolt = <2500000>;
				regulator-max-microvolt = <2500000>;

				regulator-state-standby {
					regulator-off-in-suspend;
				};

				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};
		};
	};
};

&i2c1 {
	/* I2C_GP */
	pinctrl-names = "default", "gpio", "sleep";
	pinctrl-0 = <&pinctrl_i2c1_default>;
	pinctrl-1 = <&pinctrl_i2c1_gpio>;
	pinctrl-2 = <&pinctrl_i2c1_gpio>;
	sda-gpios = <&pioA PIN_PD4 GPIO_ACTIVE_HIGH>;
	scl-gpios = <&pioA PIN_PD5 (GPIO_ACTIVE_HIGH | GPIO_OPEN_DRAIN)>;
	i2c-analog-filter;
	i2c-digital-filter;
	i2c-digital-filter-width-ns = <35>;
	clock-frequency = <400000>;
	status = "okay";

	eeprom@50 {
		compatible = "atmel,24cs32", "24c32";
		reg = <0x50>;
		pagesize = <32>;
		vcc-supply = <&vcc_1v8>;
	};
};

&i2c3 {
	/* I2C_LCD */
	pinctrl-names = "default", "gpio", "sleep";
	pinctrl-0 = <&pinctrl_i2c3_default>;
	pinctrl-1 = <&pinctrl_i2c3_gpio>;
	pinctrl-2 = <&pinctrl_i2c3_gpio>;
	sda-gpios = <&pioA PIN_PA24 GPIO_ACTIVE_HIGH>;
	scl-gpios = <&pioA PIN_PA23 (GPIO_ACTIVE_HIGH | GPIO_OPEN_DRAIN)>;
	i2c-analog-filter;
	i2c-digital-filter;
	i2c-digital-filter-width-ns = <35>;
	clock-frequency = <400000>;
	status = "okay";
};

&i2c4 {
	/* I2C_CAM0 */
	pinctrl-names = "default", "gpio", "sleep";
	pinctrl-0 = <&pinctrl_i2c4_default>;
	pinctrl-1 = <&pinctrl_i2c4_gpio>;
	pinctrl-2 = <&pinctrl_i2c4_gpio>;
	sda-gpios = <&pioA PIN_PD26 GPIO_ACTIVE_HIGH>;
	scl-gpios = <&pioA PIN_PD27 (GPIO_ACTIVE_HIGH | GPIO_OPEN_DRAIN)>;
	i2c-analog-filter;
	i2c-digital-filter;
	i2c-digital-filter-width-ns = <35>;
	clock-frequency = <400000>;
	status = "okay";
};

&i2s0 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2s0>;
	status = "okay";
	#sound-dai-cells = <0>;
};

&qspi0 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_qspi0>;
	status = "okay";

	flash: flash@0 {
		compatible = "spi-nand";
		reg = <0>;
		spi-max-frequency = <166000000>;
	};
};

&qspi1 {
	/* QSPI */
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_qspi1>;
	status = "okay";

	spi@0 {
		compatible = "spi-mux";
		reg = <0>;
		mux-controls = <&qspi1_mux>;
		#address-cells = <1>;
		#size-cells = <0>;
	};
};

&sdmmc1 {
	/* SDIO */
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_sdmmc1>;
	bus-width = <4>;
	vmmc-supply = <&vcc_sd>;
	vqmmc-supply = <&vcc_vqmmc>;
};

&shutdown_controller {
	debounce-delay-us = <20000>;

	input@0 {
		reg = <0>;
	};
};

&spi0 {
	/* SPI0 */
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&pinctrl_spi0_default>;
	pinctrl-1 = <&pinctrl_spi0_sleep>;
	cs-gpios = <0>, <&pioA PIN_PA13 GPIO_ACTIVE_LOW>;
	status = "okay";
};

&uart1 {
	/* SER1 */
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart1>;
	atmel,use-dma-rx;
	atmel,use-dma-tx;
	atmel,fifo-size = <32>;
	status = "okay";
};

&uart3 {
	/* SER3 */
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart3>;
	atmel,use-dma-rx;
	atmel,use-dma-tx;
	atmel,fifo-size = <32>;
	status = "okay";
};

&uart8 {
	/* SER0 */
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart8>;
	atmel,use-dma-rx;
	atmel,use-dma-tx;
	status = "okay";
};

&uart9 {
	/* SER2 */
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart9>;
	atmel,use-dma-rx;
	atmel,use-dma-tx;
	status = "okay";
};

&usb0 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usb0_vbus>;
	atmel,vbus-gpio = <&pioA PIN_PB10 GPIO_ACTIVE_HIGH>;
	status = "okay";
};

&usb1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usb0_en &pinctrl_usb1_en>;
	atmel,vbus-gpio = <&pioA PIN_PB3 GPIO_ACTIVE_LOW>,
			  <&pioA PIN_PC29 GPIO_ACTIVE_LOW>,
			  <0>;
	num-ports = <3>;
	status = "okay";
};

&usb2 {
	phy_type = "hsic";
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;

	usb-port@2 {
		compatible = "usb424,2514";
		reg = <2>;
		vdd-supply = <&vcc_lan>;
		#address-cells = <1>;
		#size-cells = <0>;

		ethernet@1 {
			compatible = "usb424,7850";
			reg = <1>;
			//local-mac-address = [ 00 11 22 33 44 55 ];

			mdio {
				#address-cells = <0x1>;
				#size-cells = <0x0>;

				ethernet-phy@1 {
					reg = <1>;
					microchip,led-modes = <
						LAN78XX_LINK_100_ACTIVITY
						LAN78XX_LINK_1000_ACTIVITY
						LAN78XX_LINK_ACTIVITY
					>;
				};
			};
		};
	};
};

&watchdog {
	timeout-sec = <10>;
	status = "okay";
};

&pioA {
	pinctrl_backlight: backlight-grp {
		pinmux = <PIN_PD28__GPIO>;			/* S127 */
		bias-disable;
	};

	pinctrl_can0: can0-grp {
		pinmux = <PIN_PC10__CANTX0>,			/* P143 */
			 <PIN_PC11__CANRX0>;			/* P144 */
		bias-disable;
	};

	pinctrl_can1: can1-grp {
		pinmux = <PIN_PC26__CANTX1>,			/* P145 */
			 <PIN_PC27__CANRX1>;			/* P146 */
		bias-disable;
	};

	pinctrl_hlcdc: hlcdc-grp {
		pinmux = <PIN_PB11__LCDDAT0>,
			 <PIN_PB12__LCDDAT1>,
			 <PIN_PB13__LCDDAT2>,
			 <PIN_PB14__LCDDAT3>,
			 <PIN_PB15__LCDDAT4>,
			 <PIN_PB16__LCDDAT5>,
			 <PIN_PB17__LCDDAT6>,
			 <PIN_PB18__LCDDAT7>,
			 <PIN_PB19__LCDDAT8>,
			 <PIN_PB20__LCDDAT9>,
			 <PIN_PB21__LCDDAT10>,
			 <PIN_PB22__LCDDAT11>,
			 <PIN_PB23__LCDDAT12>,
			 <PIN_PB24__LCDDAT13>,
			 <PIN_PB25__LCDDAT14>,
			 <PIN_PB26__LCDDAT15>,
			 <PIN_PB27__LCDDAT16>,
			 <PIN_PB28__LCDDAT17>,
			 <PIN_PB29__LCDDAT18>,
			 <PIN_PB30__LCDDAT19>,
			 <PIN_PB31__LCDDAT20>,
			 <PIN_PC0__LCDDAT21>,
			 <PIN_PC1__LCDDAT22>,
			 <PIN_PC2__LCDDAT23>,
			 <PIN_PC4__LCDDISP>,			/* S133 */
			 <PIN_PC5__LCDVSYNC>,
			 <PIN_PC6__LCDHSYNC>,
			 <PIN_PC7__LCDPCK>,
			 <PIN_PC8__LCDDEN>;
		bias-disable;
	};

	pinctrl_i2c0_default: i2c0-grp-default {
		pinmux = <PIN_PD29__TWD0>,			/* P122 */
			 <PIN_PD30__TWCK0>;			/* P121 */
		bias-disable;
	};

	pinctrl_i2c0_gpio: i2c0-grp-gpio {
		pinmux = <PIN_PD29__GPIO>,
			 <PIN_PD30__GPIO>;
		bias-disable;
	};

	pinctrl_i2c1_default: i2c1-grp-default {
		pinmux = <PIN_PD4__TWD1>,			/* S49 */
			 <PIN_PD5__TWCK1>;			/* S48 */
		bias-disable;
	};

	pinctrl_i2c1_gpio: i2c1-grp-gpio {
		pinmux = <PIN_PD4__GPIO>,
			 <PIN_PD5__GPIO>;
		bias-disable;
	};

	pinctrl_i2c3_default: i2c3-grp-default {
		pinmux = <PIN_PA23__FLEXCOM1_IO1>,		/* S139 */
			 <PIN_PA24__FLEXCOM1_IO0>;		/* S140 */
		bias-disable;
	};

	pinctrl_i2c3_gpio: i2c3-grp-gpio {
		pinmux = <PIN_PA23__GPIO>,
			 <PIN_PA24__GPIO>;
		bias-disable;
	};

	pinctrl_i2c4_default: i2c4-grp-default {
		pinmux = <PIN_PD26__FLEXCOM2_IO0>,		/* S7 */
			 <PIN_PD27__FLEXCOM2_IO1>;		/* S5 */
		bias-disable;
	};

	pinctrl_i2c4_gpio: i2c4-grp-gpio {
		pinmux = <PIN_PD26__GPIO>,
			 <PIN_PD27__GPIO>;
		bias-disable;
	};

	pinctrl_i2s0: i2s0-grp {
		pinmux = <PIN_PD19__I2SC0_CK>,			/* S42 */
			 <PIN_PD20__I2SC0_MCK>,			/* S38 */
			 <PIN_PD21__I2SC0_WS>,			/* S39 */
			 <PIN_PD22__I2SC0_DI0>,			/* S41 */
			 <PIN_PD23__I2SC0_DO0>;			/* S40 */
		bias-disable;
	};

	pinctrl_leds: leds-grp {
		pinmux = <PIN_PD18__GPIO>;
		bias-disable;
	};

	pinctrl_pwm: pwm-grp {
		pinmux = <PIN_PC3__LCDPWM>;			/* S141 */
		bias-disable;
	};

	pinctrl_qspi0: qspi0-grp {
		pinmux = <PIN_PA0__QSPI0_SCK>,
			 <PIN_PA1__QSPI0_CS>,
			 <PIN_PA2__QSPI0_IO0>,
			 <PIN_PA3__QSPI0_IO1>,
			 <PIN_PA4__QSPI0_IO2>,
			 <PIN_PA5__QSPI0_IO3>;
		bias-disable;
	};

	pinctrl_qspi1: qspi1-grp {
		spi {
			pinmux = <PIN_PA6__QSPI1_SCK>,		/* P56 */
				 <PIN_PA7__QSPI1_IO0>,		/* P58 */
				 <PIN_PA8__QSPI1_IO1>,		/* P57 */
				 <PIN_PA9__QSPI1_IO2>,		/* S56 */
				 <PIN_PA10__QSPI1_IO3>;		/* S57 */
			bias-disable;
		};

		rst {
			pinmux = <PIN_PC18__GPIO>;		/* S58 */
			bias-pull-up;
		};
	};

	pinctrl_qspi1_mux: qspi1-mux-grp {
		pinmux = <PIN_PA11__GPIO>,			/* P54 */
			 <PIN_PC25__GPIO>;			/* P55 */
		bias-pull-up;
	};

	pinctrl_reg_lan: reg-lan-grp {
		pinmux = <PIN_PC23__GPIO>;
		bias-disable;
	};

	pinctrl_reg_sd: reg-sd-grp {
		pinmux = <PIN_PA27__GPIO>;			/* P37 */
		bias-pull-up;
	};

	pinctrl_reg_vqmmc: reg-vqmmc-grp {
		pinmux = <PIN_PA25__GPIO>,
			 <PIN_PA26__GPIO>;
		bias-disable;
	};

	pinctrl_sdmmc1: sdmmc1-grp {
		pinmux = <PIN_PA18__SDMMC1_DAT0>,		/* P39 */
			 <PIN_PA19__SDMMC1_DAT1>,		/* P40 */
			 <PIN_PA20__SDMMC1_DAT2>,		/* P41 */
			 <PIN_PA21__SDMMC1_DAT3>,		/* P42 */
			 <PIN_PA22__SDMMC1_CK>,			/* P36 */
			 <PIN_PA28__SDMMC1_CMD>,		/* P34 */
			 <PIN_PA29__SDMMC1_WP>,			/* P33 */
			 <PIN_PA30__SDMMC1_CD>;			/* P35 */
		bias-disable;
	};

	pinctrl_spi0_default: spi0-grp-default {
		pinmux = <PIN_PA14__SPI0_SPCK>,			/* P44 */
			 <PIN_PA15__SPI0_MOSI>,			/* P46 */
			 <PIN_PA16__SPI0_MISO>,			/* P45 */
			 <PIN_PA17__SPI0_NPCS0>,		/* P43 */
			 <PIN_PA13__GPIO>;			/* P31 */
		bias-disable;
	};

	pinctrl_spi0_sleep: spi0-grp-sleep {
		pinmux = <PIN_PA14__GPIO>,
			 <PIN_PA15__GPIO>,
			 <PIN_PA16__GPIO>,
			 <PIN_PA17__GPIO>,
			 <PIN_PA13__GPIO>;
		bias-disable;
	};

	pinctrl_uart1: uart1-grp {
		pinmux = <PIN_PD2__URXD1>,			/* P135 */
			 <PIN_PD3__UTXD1>;			/* P134 */
		bias-disable;
	};

	pinctrl_uart3: uart3-grp {
		pinmux = <PIN_PC12__URXD3>,			/* P141 */
			 <PIN_PC13__UTXD3>;			/* P140 */
		bias-disable;
	};

	pinctrl_uart8: uart8-grp {
		pinmux = <PIN_PC19__FLEXCOM3_IO1>,		/* P130 */
			 <PIN_PC20__FLEXCOM3_IO0>,		/* P129 */
			 <PIN_PC21__FLEXCOM3_IO3>,		/* P132 */
			 <PIN_PC22__FLEXCOM3_IO4>;		/* P131 */
		bias-disable;
	};

	pinctrl_uart9: uart9-grp {
		pinmux = <PIN_PD12__FLEXCOM4_IO0>,		/* P136 */
			 <PIN_PD13__FLEXCOM4_IO1>,		/* P137 */
			 <PIN_PD15__FLEXCOM4_IO3>,		/* P139 */
			 <PIN_PD16__FLEXCOM4_IO4>;		/* P138 */
		bias-disable;
	};

	pinctrl_usb0_en: usb0-en-grp {
		pinmux = <PIN_PB3__GPIO>;			/* P62 */
		bias-disable;
	};

	pinctrl_usb0_vbus: usb0-vbus-grp {
		pinmux = <PIN_PB10__GPIO>;			/* P63 */
		bias-disable;
	};

	pinctrl_usb1_en: usb1-en-grp {
		pinmux = <PIN_PC29__GPIO>;			/* P67 */
		bias-disable;
	};
};
