/* SPDX-License-Identifier: GPL-2.0+ */
/* SPDX-FileCopyrightText: Alexander Shiyan <shc_work@mail.ru> */

/dts-v1/;

#include "mm-sm-sama5d2.dtsi"

/ {
	model = "Mega-Milas Informer SAMA5D2";
	compatible = "milas,informer-sama5d2", "milas,mm-sm-sama5d2",
		     "atmel,sama5d27", "atmel,sama5d2", "atmel,sama5";
};

&sdmmc1 {
	disable-wp;
};
