/* SPDX-License-Identifier: GPL-2.0+ */
/* SPDX-FileCopyrightText: Alexander Shiyan <shc_work@mail.ru> */

/dts-v1/;
/plugin/;

#include <arm/microchip/sama5d2-pinfunc.h>

&{/} {
	model = "Mega-Milas Informer SAMA5D2";
	compatible = "milas,informer-sama5d2", "milas,mm-sm-sama5d2",
		     "atmel,sama5d27", "atmel,sama5d2", "atmel,sama5";

	panel {
		compatible = "panel-lvds";
		backlight = <&backlight>;
		data-mapping = "jeida-18";
		power-supply = <&vcc_3v3_sys>;
		width-mm = <0>;
		height-mm = <0>;

#if 0
		/* AT070TN94 */
		panel-timing {
			clock-frequency = <26400000 33300000 46800000>;
			hactive = <800>;
			vactive = <480>;
			hback-porch = <46>;
			hfront-porch = <16 209 354>;
			hsync-len = <1 1 40>;
			vback-porch = <23>;
			vfront-porch = <7 21 147>;
			vsync-len = <1 1 20>;
			hsync-active = <0>;
			vsync-active = <0>;
			de-active = <1>;
			pixelclk-active = <0>;
		};
#endif

		/* PH320240T, G057QN01 */
		panel-timing {
			clock-frequency = <6400000>;
			hactive = <320>;
			vactive = <240>;
			hback-porch = <38>;
			hfront-porch = <20>;
			hsync-len = <30>;
			vback-porch = <15>;
			vfront-porch = <5>;
			vsync-len = <1 3 5>;
			hsync-active = <0>;
			vsync-active = <0>;
			de-active = <1>;
			pixelclk-active = <1>;
		};

		port {
			panel_in: endpoint {
				remote-endpoint = <&lvds_out>;
			};
		};
	};

//	vcc_1v8_sys: vcc-1v8-sys-regulator {
//		compatible = "regulator-fixed";
//		regulator-name = "vcc_1v8_sys";
//		regulator-min-microvolt = <1800000>;
//		regulator-max-microvolt = <1800000>;
//	};

	vcc_3v3_sys: vcc-3v3-sys-regulator {
		compatible = "regulator-fixed";
		regulator-name = "vcc_3v3_sys";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-always-on;
		regulator-boot-on;
	};
};

&hlcdc {
	status = "okay";

	hlcdc-display-controller {
		bus-width = <18>;
	};
};

&i2c0 {
	#address-cells = <1>;
	#size-cells = <0>;

//	codec@a {
//		compatible = "fsl,sgtl5000";
//		reg =<0xa>;
//		clocks = <&clk24m>;
//		micbias-resistor-k-ohms = <2>;
//		VDDA-supply = <&vcc_3v3_sys>;
//		VDDIO-supply = <&vcc_1v8_sys>;
//		VDDD-supply = <&vcc_1v8_sys>;
//
//		#sound-dai-cells = <0>;
//	};

	/* TODO: Board Revision (0x42 ?) */

	gpio@20 {
		/* HW Revision */
		compatible = "nxp,pca9534";
		reg = <0x20>;
		gpio-controller;
		#gpio-cells = <2>;
	};

	gpio@41 {
		/* Display ID */
		compatible = "nxp,pca9536";
		reg = <0x41>;
		gpio-controller;
		#gpio-cells = <2>;
	};
};

&lvds_encoder {
	status = "okay";

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@1 {
			reg = <1>;

			lvds_out: endpoint {
				remote-endpoint = <&panel_in>;
			};
		};
	};
};

&sdmmc1 {
	vmmc-supply = <&vcc_3v3_sys>;
};

&spi0 {
	#address-cells = <1>;
	#size-cells = <0>;

	gpio@0 {
		compatible = "fairchild,74hc595";
		reg = <0>;
		spi-max-frequency = <4000000>;
		registers-number = <2>;
		gpio-controller;
		#gpio-cells = <2>;
	};
};

&pioA {
	pinctrl_hlcdc_default: hlcdc-grp-default {
		bits24 {
			pinmux = <PIN_PB11__GPIO>,
				 <PIN_PB12__GPIO>,
				 <PIN_PB19__GPIO>,
				 <PIN_PB20__GPIO>,
				 <PIN_PB27__GPIO>,
				 <PIN_PB28__GPIO>;
			bias-pull-down;
		};
	};
};
