/* SPDX-License-Identifier: GPL-2.0+ */
/* SPDX-FileCopyrightText: Alexander Shiyan <shc_work@mail.ru> */

/dts-v1/;

#include "mm-sm-sama5d2.dtsi"

/ {
	model = "Mega-Milas Informer SAMA5D2";
	compatible = "milas,informer-sama5d2", "milas,mm-sm-sama5d2",
		     "atmel,sama5d27", "atmel,sama5d2", "atmel,sama5";

	vcc_3v3_sys: vcc-3v3-sys-regulator {
		compatible = "regulator-fixed";
		regulator-name = "vcc_3v3_sys";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
	};
};

&flash {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;
	};
};

&i2c0 {
	//TODO: SGTL5000
	//TODO: TCA9534
};

&sdmmc1 {
	disable-wp;
	status = "okay";
};

&vcc_sd {
	vin-supply = <&vcc_3v3_sys>;
};
