#include <dt-bindings/sound/tlv320aic31xx-micbias.h>

/ {
	model = "Mega-Milas Informer/Spider AM335x";
	compatible = "milas,informer-am335x", "milas,spider-am335x",
		     "myir,myd-am335x", "myir,myc-am335x", "ti,am33xx";

	chosen {
		environment {
			compatible = "barebox,environment";
			device-path = &env_nand;
		};
	};

	backlight: backlight {
		compatible = "pwm-backlight";
		pwms = <&ehrpwm0 0 100000 0>;
		brightness-levels = <0 255>;
		num-interpolated-steps = <16>;
		default-brightness-level = <0>;
	};

	beeper {
		compatible = "gpio-beeper";
		gpios = <&hwrev 5 GPIO_ACTIVE_HIGH>;
	};

	clk24m: clk24m {
		compatible = "fixed-clock";
		clock-frequency = <24000000>;

		#clock-cells = <0>;
	};

	gpiokeys {
		compatible = "gpio-keys";

		button@0 {
			label = "BTN0";
			linux,code = <0x0100>;
			linux,input-type = <EV_KEY>;
			gpios = <&input 0 GPIO_ACTIVE_LOW>;
		};

		button@1 {
			label = "BTN1";
			linux,code = <0x0101>;
			linux,input-type = <EV_KEY>;
			gpios = <&input 1 GPIO_ACTIVE_LOW>;
		};

		button@2 {
			label = "BTN2";
			linux,code = <0x0102>;
			linux,input-type = <EV_KEY>;
			gpios = <&input 2 GPIO_ACTIVE_LOW>;
		};

		button@6 {
			label = "PF_LOW";
			linux,code = <SW_TABLET_MODE>;
			linux,input-type = <EV_SW>;
			debounce-interval = <0>;
			gpios = <&input 6 GPIO_ACTIVE_LOW>;
		};

		button@7 {
			label = "PF_HIGH";
			linux,code = <SW_HEADPHONE_INSERT>;
			linux,input-type = <EV_SW>;
			debounce-interval = <0>;
			gpios = <&input 7 GPIO_ACTIVE_LOW>;
		};
	};

	panel {
		compatible = "ti,tilcdc,panel";
		pinctrl-names = "default", "sleep";
		pinctrl-0 = <&lcdc_pins_default>;
		pinctrl-1 = <&lcdc_pins_sleep>;
		backlight = <&backlight>;
		status = "okay";

		panel-info {
			ac-bias = <255>;
			ac-bias-intrpt = <0>;
			bpp = <16>;
			dma-burst-sz = <16>;
			fdd = <0x80>;
			sync-edge = <0>;
			sync-ctrl = <1>;
			raster-order = <0>;
			fifo-th = <0>;
		};

		display-timings {
			native-mode = <&timing0>;

			timing0: G104XVN01_0 {
				clock-frequency = <50000000 65000000 81000000>;
				hactive = <1024>;
				vactive = <768>;
				hback-porch = <320>;
				hfront-porch = <24>;
				hsync-len = <136>;
				vback-porch = <38>;
				vfront-porch = <3>;
				vsync-len = <6>;
				de-active = <1>;
			};
		};
	};

	sound1: sound1 {
		compatible = "simple-audio-card";
		simple-audio-card,format = "i2s";
		simple-audio-card,bitclock-master = <&master_codec1>;
		simple-audio-card,frame-master = <&master_codec1>;
		simple-audio-card,name = "MCASP0AIC3100";
		simple-audio-card,widgets =
			"Microphone", "Microphone Jack",
			"Speaker", "Speaker";
		simple-audio-card,routing =
			"MIC1LP", "Microphone Jack",
			"Microphone Jack", "MICBIAS",
			"Speaker", "SPK";

		simple-audio-card,cpu {
			sound-dai = <&mcasp0>;
		};

		master_codec1: simple-audio-card,codec {
			sound-dai = <&tlv320aic3100>;
		};
	};

	vdd_1v8: vdd_1v8_reg {
		compatible = "regulator-fixed";
		regulator-name = "vdd-1v8";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		regulator-always-on;
		regulator-boot-on;
		vin-supply = <&vdd_3v3>;
	};

	vdd_3v3mute: vdd_3v3mute_reg {
		compatible = "regulator-fixed";
		pinctrl-names = "default", "sleep";
		pinctrl-0 = <&mm_sgtl_pins_default>;
		pinctrl-1 = <&mm_sgtl_pins_sleep>;
		regulator-name = "vdd-sgtl";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		vin-supply = <&vdd_3v3>;
		gpio = <&gpio3 16 GPIO_ACTIVE_LOW>;
	};
};

/delete-node/ &{/clk12m};
/delete-node/ &{/gpio_buttons};

&cpsw_emac1 {
	/delete-property/ phy-handle;
	/delete-property/ phy-mode;
};

&davinci_mdio {
	/delete-node/ phy1;
};

&i2c0 {
	sgtl5000: codec@a {
		compatible = "fsl,sgtl5000";
		reg =<0xa>;
		clocks = <&clk24m>;
		micbias-resistor-k-ohms = <0>;
		VDDA-supply = <&vdd_3v3>;
		VDDIO-supply = <&vdd_3v3mute>;
		VDDD-supply = <&vdd_1v8>;

		#sound-dai-cells = <0>;
	};

	tlv320aic3100: codec@18 {
		compatible = "ti,tlv320aic3100";
		reg = <0x18>;
		clocks = <&clk24m>;
		ai31xx-micbias-vg = <MICBIAS_2_5V>;
		HPVDD-supply = <&vdd_3v3>;
		SPRVDD-supply = <&vdd_5v0>;
		SPLVDD-supply = <&vdd_5v0>;
		AVDD-supply = <&vdd_3v3>;
		IOVDD-supply = <&vdd_3v3mute>;
		DVDD-supply = <&vdd_1v8>;

		#sound-dai-cells = <0>;
	};

	hwrev: gpio@20 {
		compatible = "nxp,pca9534";
		reg = <0x20>;
		gpio-controller;

		#gpio-cells = <2>;
	};

	input: gpio@21 {
		pinctrl-names = "default";
		pinctrl-0 = <&mm_pca9534_pins>;
		compatible = "nxp,pca9534";
		reg = <0x21>;
		gpio-controller;
		interrupt-parent = <&gpio2>;
		interrupts = <26 IRQ_TYPE_EDGE_BOTH>;
		interrupt-controller;

		#gpio-cells = <2>;
		#interrupt-cells = <2>;
	};
};

&i2c1 {
	status = "disabled";
	/delete-node/ sgtl5000@a;
	/delete-node/ tda9988@70;
};

&lcdc {
	/delete-property/ pinctrl-names;
	/delete-property/ pinctrl-0;
	/delete-property/ pinctrl-1;

	port {
		/delete-node/ endpoint@0;
	};
};

&led_mod {
	function = LED_FUNCTION_HEARTBEAT;
	linux,default-trigger = LED_FUNCTION_HEARTBEAT;
};

&led1 {
	gpios = <&hwrev 6 GPIO_ACTIVE_LOW>;
	color = <LED_COLOR_ID_RED>;
	function = LED_FUNCTION_MTD;
	linux,default-trigger = LED_FUNCTION_MTD;
};

&led2 {
	gpios = <&hwrev 7 GPIO_ACTIVE_LOW>;
	color = <LED_COLOR_ID_RED>;
	function = LED_FUNCTION_USB;
	linux,default-trigger = "usb-host";
};

&leds {
	pinctrl-0 = <&led_mod_pins>;
};

&mac {
	pinctrl-0 = <&eth_slave1_pins_default>;
	pinctrl-1 = <&eth_slave1_pins_sleep>;
	slaves = <1>;
};

&master_codec {
	sound-dai = <&sgtl5000>;
};

&mmc1 {
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&mm_mmc1_pins_default>;
	pinctrl-1 = <&mm_mmc1_pins_sleep>;
	bus-width = <1>;
	/delete-property/ cd-gpios;
};

&nand0 {
	env_nand: partition@a0000 {
		label = "env";
		reg = <0xa0000 0x40000>;
	};

	partition@e0000 {
		label = "system";
		reg = <0xe0000 0>;
	};
};

&sound {
	simple-audio-card,name = "MCASP0SGTL5000";
	/delete-node/ simple-audio-card,codec@2;
};

&spi1 {
	pinctrl-names = "default";
	pinctrl-0 = <&mm_spi1_pins>;
	status = "okay";

	outgpios: gpio@0 {
		compatible = "fairchild,74hc595";
		reg = <0>;
		spi-max-frequency = <4000000>;
		registers-number = <2>;
		gpio-controller;
		#gpio-cells = <2>;
	};
};

&tscadc {
	status = "disabled";
};

&uart1 {
	/delete-property/ linux,rs485-enabled-at-boot-time;
};

&uart2 {
	status = "disabled";
};

&uart3 {
	pinctrl-names = "default";
	pinctrl-0 = <&mm_uart3_pins>;
	status = "okay";
};

&usb0 {
	dr_mode = "host";
};

&wdt2 {
	timeout-sec = <10>;
};

&am33xx_pinmux {
	mm_mmc1_pins_default: pinmux_mm_mmc1_pins_default {
		pinctrl-single,pins = <
			AM33XX_PADCONF(AM335X_PIN_MMC0_DAT0, PIN_INPUT_PULLUP, MUX_MODE0)	/* mmc0_dat0 */
			AM33XX_PADCONF(AM335X_PIN_MMC0_CLK, PIN_INPUT_PULLUP, MUX_MODE0)	/* mmc0_clk */
			AM33XX_PADCONF(AM335X_PIN_MMC0_CMD, PIN_INPUT_PULLUP, MUX_MODE0)	/* mmc0_cmd */
		>;
	};

	mm_mmc1_pins_sleep: pinmux_mm_mmc1_pins_sleep {
		pinctrl-single,pins = <
			AM33XX_PADCONF(AM335X_PIN_MMC0_DAT0, PIN_INPUT_PULLDOWN, MUX_MODE0)
			AM33XX_PADCONF(AM335X_PIN_MMC0_CLK, PIN_INPUT_PULLDOWN, MUX_MODE0)
			AM33XX_PADCONF(AM335X_PIN_MMC0_CMD, PIN_INPUT_PULLDOWN, MUX_MODE0)
		>;
	};

	mm_pca9534_pins: pinmux_pca9534_pins {
		pinctrl-single,pins = <
			AM33XX_PADCONF(AM335X_PIN_MMC0_DAT3, PIN_INPUT_PULLUP, MUX_MODE7)	/* gpio2[26] */
		>;
	};

	mm_sgtl_pins_default: pinmux_mm_sgtl_pins_default {
		pinctrl-single,pins = <
			AM33XX_PADCONF(AM335X_PIN_MCASP0_AXR0, PIN_OUTPUT_PULLUP, MUX_MODE7)	/* gpio3[16] */
		>;
	};

	mm_sgtl_pins_sleep: pinmux_mm_sgtl_pins_sleep {
		pinctrl-single,pins = <
			AM33XX_PADCONF(AM335X_PIN_MCASP0_AXR0, PIN_INPUT_PULLDOWN, MUX_MODE7)
		>;
	};

	mm_spi1_pins: pinmux_spi1_pins {
		pinctrl-single,pins = <
			AM33XX_PADCONF(AM335X_PIN_RMII1_REF_CLK, PIN_OUTPUT, MUX_MODE2)		/* spi1_cs0_mux1 */
			AM33XX_PADCONF(AM335X_PIN_MII1_COL, PIN_OUTPUT, MUX_MODE2)		/* spi1_sclk_mux1 */
			AM33XX_PADCONF(AM335X_PIN_MII1_RX_ER, PIN_OUTPUT, MUX_MODE2)		/* spi1_d1_mux1 */
			AM33XX_PADCONF(AM335X_PIN_MII1_CRS, PIN_INPUT_PULLDOWN, MUX_MODE2)	/* spi1_d0_mux1 */
		>;
	};

	mm_uart3_pins: pinmux_uart3_pins {
		pinctrl-single,pins = <
			AM33XX_PADCONF(AM335X_PIN_ECAP0_IN_PWM0_OUT, PIN_OUTPUT, MUX_MODE1)	/* uart3_txd_mux1 */
			AM33XX_PADCONF(AM335X_PIN_SPI0_CS1, PIN_INPUT, MUX_MODE1)		/* uart3_rxd_mux1 */
		>;
	};
};
