#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>
#include <dt-bindings/input/linux-event-codes.h>

/ {
	model = "Mega-Milas Informer EP7312";
	compatible = "milas,informer-clps711x", "cirrus,ep7209";

	memory {
		device_type = "memory";
		reg = <0xc0000000 0x04000000>;
	};

	backlight: backlight {
		compatible = "pwm-backlight";
		pwms = <&pwm 0>;
		brightness-levels = <
			0x0 0x1 0x2 0x3 0x4 0x5 0x6 0x7
			0x8 0x9 0xa 0xb 0xc 0xd 0xe 0xf
		>;
		default-brightness-level = <0x0>;
		power-supply = <&reg5v0>;
	};

	beeper: beeper {
		compatible = "gpio-beeper";
		gpios = <&portb 0 GPIO_ACTIVE_HIGH>;
	};

	clocks {
		clk3m: clk3m {
			compatible = "fixed-clock";
			clock-frequency = <3686400>;
			#clock-cells = <0>;
		};

		clk16m: clk16m {
			compatible = "fixed-clock";
			clock-frequency = <16000000>;
			#clock-cells = <0>;
		};
	};

	display: display {
		model = "320x240x4";
		native-mode = <&timing0>;
		bits-per-pixel = <4>;
		ac-prescale = <17>;

		display-timings {
			timing0: 320x240 {
				hactive = <320>;
				hback-porch = <0>;
				hfront-porch = <0>;
				hsync-len = <0>;
				vactive = <240>;
				vback-porch = <0>;
				vfront-porch = <0>;
				vsync-len = <0>;
				clock-frequency = <6500000>;
			};
		};
	};

	i2c: i2c0 {
		compatible = "i2c-gpio";
		gpios = <&sdagpio 0 GPIO_ACTIVE_HIGH>,
			<&sclgpio 0 GPIO_ACTIVE_HIGH>;
		i2c-gpio,sda-open-drain;
		i2c-gpio,scl-open-drain;
		#address-cells = <1>;
		#size-cells = <0>;

		at24@50 {
			compatible = "at,24c16";
			reg = <0x50>;
			pagesize = <256>;
		};

		rtc@68 {
			compatible = "maxim,ds3231";
			reg = <0x68>;
			#clock-cells = <1>;
		};
	};

	reg5v0: reg5v0 {
		compatible = "regulator-fixed";
		regulator-name = "5V0";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
	};

	reg_ide0: reg_ide0 {
		compatible = "regulator-gpio";
		regulator-type = "voltage";
		regulator-name = "IDE0";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <5000000>;
		enable-gpio = <&portd 0 GPIO_ACTIVE_HIGH>;
		enable-active-high;
		gpios = <&portd 3 GPIO_ACTIVE_HIGH>,
			<&portd 2 GPIO_ACTIVE_HIGH>;
		states = <
			3300000 0x1
			5000000 0x2
		>;
		gpios-states = <0 1>;
		regulator-always-on;
		enable-at-boot;
	};

	reg_ide1: reg_ide1 {
		compatible = "regulator-gpio";
		regulator-type = "voltage";
		regulator-name = "IDE1";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <5000000>;
		enable-gpio = <&portd 1 GPIO_ACTIVE_HIGH>;
		enable-active-high;
		gpios = <&portd 5 GPIO_ACTIVE_HIGH>,
			<&portd 4 GPIO_ACTIVE_HIGH>;
		states = <
			3300000 0x1
			5000000 0x2
		>;
		gpios-states = <0 1>;
		regulator-always-on;
		enable-at-boot;
	};

	sc2892rst: reg_sc2892rst {
		compatible = "regulator-fixed";
		regulator-name = "RST";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		gpio = <&portb 7 0>;
		startup-delay-us = <1>;
	};

	sound {
		compatible = "simple-audio-card";
		simple-audio-card,name = "DAICS4351";
		simple-audio-card,format = "left_j";
		simple-audio-card,bitclock-master = <&audio_master>;
		simple-audio-card,frame-master = <&audio_master>;

		audio_master: simple-audio-card,cpu {
			sound-dai = <&dai>;
			clocks = <&clks CLPS711X_CLK_DUMMY>;
		};

		simple-audio-card,codec {
			sound-dai = <&codec>;
		};
	};

	switches: switches {
		compatible = "gpio-keys-polled";
		poll-interval = <37>;

		button@0 {
			label = "SHIFT";
			linux,code = <SW_LID>;
			linux,input-type = <EV_SW>;
			gpios = <&porta 5 GPIO_ACTIVE_HIGH>;
		};

		button@1 {
			label = "PWR_L";
			linux,code = <SW_TABLET_MODE>;
			linux,input-type = <EV_SW>;
			gpios = <&mctrl 0 GPIO_ACTIVE_LOW>;
			debounce-interval = <0>;
		};

		button@2 {
			label = "PWR_H";
			linux,code = <SW_HEADPHONE_INSERT>;
			linux,input-type = <EV_SW>;
			gpios = <&mctrl 1 GPIO_ACTIVE_LOW>;
			debounce-interval = <0>;
		};
	};

	watchdog: watchdog {
		compatible = "linux,wdt-gpio";
		gpios = <&portb 3 GPIO_ACTIVE_LOW>;
		hw_algo = "toggle";
		hw_margin_ms = <1500>;
		always-running;
	};
};

&bus {
	rtc: rtc@1,0 {
		compatible = "maxim,ds1742";
		reg = <1 0x00000000 0x800>;
	};

	sdagpio: sdagpio@1,804 {
		compatible = "wd,mbl-gpio";
		reg = <1 0x00000804 0x1>;
		reg-names = "dat";
		gpio-controller;
		#gpio-cells = <2>;
	};

	sclgpio: sclgpio@1,805 {
		compatible = "wd,mbl-gpio";
		reg = <1 0x00000805 0x1>;
		reg-names = "dat";
		gpio-controller;
		#gpio-cells = <2>;
	};

	uart@1,100000 {
		compatible = "nxp,sc2892";
		reg = <1 0x00100000 0x10>;
		clocks = <&clk3m>;
		poll-interval = <2000>;
		nxp,sccnxp-io-cfg = <0x01000000 0x02000000>;
		vcc-supply = <&sc2892rst>;
	};

	bgpio@1,200000 {
		compatible = "ti,74244";
		reg = <1 0x00200000 0x1>;
		gpio-controller;
		#gpio-cells = <2>;
	};

	ide@2,0 {
		compatible = "ata-generic";
		reg = <
			2 0x00000000 0x20
			2 0x00080018 0x04
		>;
		interrupts = <5>;
		reg-shift = <2>;
		pio-mode = <2>;
		ata-generic,use16bit;
		vcc-supply = <&reg_ide0>;
	};

	ide@2,100000 {
		compatible = "ata-generic";
		reg = <
			2 0x00100000 0x20
			2 0x00180018 0x04
		>;
		interrupts = <6>;
		reg-shift = <2>;
		pio-mode = <2>;
		ata-generic,use16bit;
		vcc-supply = <&reg_ide1>;
	};

	nand: nand@3,0 {
		compatible = "gpio-control-nand";
		reg = <3 0x00000000 0x2>;
		chip-delay = <25>;
		ale-gpios = <&nand_ctrl 1 0>;
		cle-gpios = <&nand_ctrl 0 0>;
		nwp-gpios = <&nand_ctrl 2 0>;
		nce-gpios = <&nand_ctrl 4 0>,
			    <&nand_ctrl 5 0>;
		rdy-gpios = <&nand_stat 1 0>,
			    <&nand_stat 2 0>;
		#address-cells = <1>;
		#size-cells = <1>;

		partition@0 {
			label = "nand-gpio";
			reg = <0 0>;
		};
	};

	nand_ctrl: bgpio@3,8004 {
		compatible = "ti,74174";
		reg = <3 0x00008004 0x1>;
		gpio-controller;
		#gpio-cells = <2>;
	};

	nand_stat: bgpio@3,8014 {
		compatible = "ti,74365";
		reg = <3 0x00008014 0x1>;
		gpio-controller;
		#gpio-cells = <2>;
	};
};

&clks {
	startup-frequency = <92160000>;
};

&dai {
	status = "okay";
};

&fb {
	display = <&display>;
	lcd-supply = <&reg5v0>;
	status = "okay";
};

&keypad {
	autorepeat;
	poll-interval = <67>;
	row-gpios = <&porta 0 GPIO_ACTIVE_HIGH>,
		    <&porta 1 GPIO_ACTIVE_HIGH>,
		    <&porta 2 GPIO_ACTIVE_HIGH>,
		    <&porta 3 GPIO_ACTIVE_HIGH>,
		    <&porta 4 GPIO_ACTIVE_HIGH>;
	linux,keymap = <
		MATRIX_KEY(0,4,0x35)
		MATRIX_KEY(0,5,0x3a)
		MATRIX_KEY(0,6,0x3f)
		MATRIX_KEY(0,7,0x44)
		MATRIX_KEY(1,0,0x22)
		MATRIX_KEY(1,1,0x27)
		MATRIX_KEY(1,2,0x2c)
		MATRIX_KEY(1,3,0x31)
		MATRIX_KEY(2,0,0x23)
		MATRIX_KEY(2,1,0x28)
		MATRIX_KEY(2,2,0x2d)
		MATRIX_KEY(2,3,0x32)
		MATRIX_KEY(3,0,0x24)
		MATRIX_KEY(3,1,0x29)
		MATRIX_KEY(3,2,0x2e)
		MATRIX_KEY(3,3,0x33)
		MATRIX_KEY(4,0,0x25)
		MATRIX_KEY(4,1,0x2a)
		MATRIX_KEY(4,2,0x2f)
		MATRIX_KEY(4,3,0x34)
	>;
	status = "okay";
};

&spi {
	cs-gpios = <&portb 4 GPIO_ACTIVE_LOW>,
		   <&portb 5 GPIO_ACTIVE_LOW>,
		   <&portb 6 GPIO_ACTIVE_LOW>;
	status = "okay";

	codec: codec@0 {
		#sound-dai-cells = <0>;
		compatible = "cirrus,cs4341a";
		reg = <0>;
		spi-max-frequency = <6000000>;
	};

	gpio@1 {
		compatible = "fairchild,74hc595";
		reg = <1>;
		spi-max-frequency = <4000000>;
		registers-number = <1>;
		gpio-controller;
		#gpio-cells = <2>;
	};

	can@2 {
		compatible = "microchip,mcp2510";
		reg = <2>;
		spi-max-frequency = <5000000>;
		clocks = <&clk16m>;
		interrupts = <7>;
		vdd-supply = <&reg5v0>;
		xceiver-supply = <&reg5v0>;
	};
};
