#include <dt-bindings/leds/common.h>

/ {
	model = "Mega-Milas Spider i.MX6";
	compatible = "milas,spider-imx6",
		     "phytec,imx6x-pbab01", "phytec,imx6q-pfla02", "fsl,imx6q";

	chosen {
		/delete-node/ environment-nand;
		/delete-node/ environment-sd1;
		/delete-node/ environment-sd2;
		/delete-node/ environment-sd4;

		environment-spinor {
			compatible = "barebox,environment";
			device-path = &som_flash, "partname:env";
			status = "disabled";
		};

		environment-sd3 {
			compatible = "barebox,environment";
			device-path = &som_flash, "partname:env";
			status = "disabled";
		};
	};

	backlight {
		compatible = "pwm-backlight";
		pwms = <&pwm1 0 100000>;
		brightness-levels = <0 255>;
		num-interpolated-steps = <16>;
		default-brightness-level = <0>;
	};

	beeper {
		compatible = "gpio-beeper";
		gpios = <&hwrev 5 GPIO_ACTIVE_HIGH>;
	};

	gpiokeys {
		compatible = "gpio-keys";

		button@0 {
			label = "KEY110";
			linux,code = <0x0110>;
			linux,input-type = <EV_KEY>;
			gpios = <&input 0 GPIO_ACTIVE_LOW>;
		};

		button@1 {
			label = "KEY111";
			linux,code = <0x0111>;
			linux,input-type = <EV_KEY>;
			gpios = <&input 1 GPIO_ACTIVE_LOW>;
		};

		button@2 {
			label = "KEY112";
			linux,code = <0x0112>;
			linux,input-type = <EV_KEY>;
			gpios = <&input 2 GPIO_ACTIVE_LOW>;
		};

		button@3 {
			label = "KEY113";
			linux,code = <0x0113>;
			linux,input-type = <EV_KEY>;
			gpios = <&input 3 GPIO_ACTIVE_LOW>;
		};

		button@8 {
			label = "SW08";
			linux,code = <SW_VIDEOOUT_INSERT>;
			linux,input-type = <EV_SW>;
			gpios = <&input 8 GPIO_ACTIVE_LOW>;
		};

		button@9 {
			label = "SW09";
			linux,code = <SW_CAMERA_LENS_COVER>;
			linux,input-type = <EV_SW>;
			gpios = <&input 9 GPIO_ACTIVE_LOW>;
		};

		button@10 {
			label = "SW10";
			linux,code = <SW_KEYPAD_SLIDE>;
			linux,input-type = <EV_SW>;
			gpios = <&input 10 GPIO_ACTIVE_LOW>;
		};

		button@11 {
			label = "SW11";
			linux,code = <SW_FRONT_PROXIMITY>;
			linux,input-type = <EV_SW>;
			gpios = <&input 11 GPIO_ACTIVE_LOW>;
		};

		button@12 {
			label = "SW12";
			linux,code = <SW_ROTATE_LOCK>;
			linux,input-type = <EV_SW>;
			gpios = <&input 12 GPIO_ACTIVE_LOW>;
		};

		button@13 {
			label = "SW13";
			linux,code = <SW_LINEIN_INSERT>;
			linux,input-type = <EV_SW>;
			gpios = <&input 13 GPIO_ACTIVE_LOW>;
		};

		button@14 {
			label = "SW14";
			linux,code = <SW_MUTE_DEVICE>;
			linux,input-type = <EV_SW>;
			gpios = <&input 14 GPIO_ACTIVE_LOW>;
		};

		button@15 {
			label = "SW15";
			linux,code = <SW_PEN_INSERTED>;
			linux,input-type = <EV_SW>;
			gpios = <&input 15 GPIO_ACTIVE_LOW>;
		};
	};

	clk12m288: clk12m288 {
		compatible = "fixed-clock";
		clock-frequency = <12288000>;
		
		#clock-cells = <0>;
	};

	/delete-node/ oscillator;

	leds {
		led_brd {
			gpios = <&hwrev 6 GPIO_ACTIVE_LOW>;
			function = LED_FUNCTION_MTD;
			color = <LED_COLOR_ID_RED>;
			linux,default-trigger = LED_FUNCTION_MTD;
			default-state = "off";
		};
	};

	regulators {
		/delete-node/ regulator@2;
		/delete-node/ regulator@3;

		vdd_5v0: reg@5 {
			compatible = "regulator-fixed";
			reg = <5>;
			regulator-name = "vdd-5v0";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			regulator-always-on;
			regulator-boot-on;
		};

		vdd_3v3: reg@6 {
			compatible = "regulator-fixed";
			reg = <6>;
			regulator-name = "vdd-3v3";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			regulator-always-on;
			regulator-boot-on;
			vin-supply = <&vdd_5v0>;
		};

		vdd_1v8: reg@7 {
			compatible = "regulator-fixed";
			reg = <7>;
			regulator-name = "vdd-1v8";
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <1800000>;
			regulator-always-on;
			regulator-boot-on;
			vin-supply = <&vdd_3v3>;
		};
	};

	/delete-node/ sound;

	sound-pcm0 {
		compatible = "simple-audio-card";
		simple-audio-card,name = "SSI2AIC3104";
		simple-audio-card,format = "i2s";
		simple-audio-card,bitclock-master = <&sound0_master>;
		simple-audio-card,frame-master = <&sound0_master>;
		simple-audio-card,widgets =
			"Microphone", "Mic Jack",
			"Headphone", "Headphone Jack";
		simple-audio-card,routing =
			"Headphone Jack", "HPLOUT",
			"Headphone Jack", "HPROUT",
			"MIC2L", "Mic Jack",
			"Mic Jack", "Mic Bias";

		simple-audio-card,cpu {
			sound-dai = <&ssi2>;
		};

		sound0_master: simple-audio-card,codec {
			sound-dai = <&tlv320aic3104>;
		};
	};

//gst-launch-1.0 alsasrc ! audio/x-raw,channels=4,fmt=S24LE ! audioconvert ! opusenc ! queue ! rtpgstpay config-interval=1 ! udpsink host=239.0.0.2 port=4380

//gst-launch-1.0 alsasrc device=hw:1 ! audio/x-raw,channels=4,fmt=S24LE ! audioconvert ! opusenc ! queue ! rtpgstpay config-interval=1 ! udpsink host=239.0.0.2 port=4380

	sound-pcm1 {
		compatible = "simple-audio-card";
		simple-audio-card,name = "ESAIPCM3168A";
		simple-audio-card,format = "left_j";
		simple-audio-card,bitclock-master = <&sound1_master>;
		simple-audio-card,frame-master = <&sound1_master>;
		simple-audio-card,widgets =
			"Microphone", "Channel1in",
			"Microphone", "Channel2in",
			"Microphone", "Channel3in",
			"Microphone", "Channel4in";
		simple-audio-card,routing =
			"Channel1in", "AIN1L",
			"Channel2in", "AIN1R",
			"Channel3in", "AIN2L",
			"Channel4in", "AIN2R";

		simple-audio-card,cpu {
			sound-dai = <&esai>;
			dai-tdm-slot-num = <8>;
			dai-tdm-slot-width = <32>;
		};

		sound1_master: simple-audio-card,codec {
			sound-dai = <&pcm3168a 1>;
			dai-tdm-slot-num = <8>;
			dai-tdm-slot-width = <32>;
		};
	};

	sound-spdif {
		compatible = "fsl,imx-audio-spdif";
		model = "IMX6SPDIF";
		spdif-controller = <&spdif>;
		spdif-in;
	};
};

&asrc {
	status = "disabled";
};

&can1 {
	status = "disabled";
};

&clks {
	assigned-clocks = <&clks IMX6QDL_CLK_LDB_DI0_SEL>,
			  <&clks IMX6QDL_CLK_LDB_DI1_SEL>;
	assigned-clock-parents = <&clks IMX6QDL_CLK_PLL5_VIDEO_DIV>,
				 <&clks IMX6QDL_CLK_PLL5_VIDEO_DIV>;
};

&esai {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_esai>;
//	assigned-clocks = <&clks IMX6QDL_CLK_PLL4_AUDIO>,
//			  <&clks IMX6QDL_CLK_ESAI_SEL>,
//			  <&clks IMX6QDL_CLK_ESAI_EXTAL>;
//	assigned-clock-parents = <0>, <&clks IMX6QDL_CLK_PLL4_AUDIO_DIV>, <0>;
//	assigned-clock-rates = <786432000>, <0>, <24576000>;
	fsl,esai-synchronous;
	status = "okay";
};

&gpmi {
	/delete-node/ partitions;

	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		partition@0 {
			label = "system";
			reg = <0 0>;
		};
	};
};

&hdmi {
	status = "disabled";
};

&i2c1 {
	clock-frequency = <400000>;
};

&i2c2 {
	/delete-node/ tlv320@18;
	/delete-node/ stmpe@41;
	/delete-node/ rtc@51;
	/delete-node/ adc@64;

	tlv320aic3104: codec@18 {
		compatible = "ti,tlv320aic3104";
		reg = <0x18>;
		clocks = <&clk12m288>;
		ai3x-micbias-vg = <1>;
		ai3x-ocmv = <1>;
		IOVDD-supply = <&vdd_3v3>;
		DVDD-supply = <&vdd_1v8>;
		AVDD-supply = <&vdd_3v3>;
		DRVDD-supply = <&vdd_3v3>;

		#sound-dai-cells = <0>;
	};

	hwrev: gpio@20 {
		compatible = "nxp,pca9534";
		reg = <0x20>;
		gpio-controller;
		
		#gpio-cells = <2>;
	};

	input: gpio@22 {
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_input>;
		compatible = "nxp,pca9535";
		reg = <0x22>;
		gpio-controller;
		interrupt-parent = <&gpio1>;
		interrupts = <13 IRQ_TYPE_EDGE_BOTH>;
		interrupt-controller;

		#gpio-cells = <2>;
		#interrupt-cells = <2>;
	};

	dispver: gpio@41 {
		compatible = "nxp,pca9536";
		reg = <0x41>;
		gpio-controller;
		
		#gpio-cells = <2>;
	};

	light: sensor@4a {
		compatible = "maxim,max44009";
		reg = <0x4a>;
	};

	pcm3168a: codec@44 {
		compatible = "ti,pcm3168a";
		reg = <0x44>;
		clocks = <&clk12m288>;
		clock-names = "scki";
		VDD1-supply = <&vdd_3v3>;
		VDD2-supply = <&vdd_3v3>;
		VCCAD1-supply = <&vdd_5v0>;
		VCCAD2-supply = <&vdd_5v0>;
		VCCDA1-supply = <&vdd_5v0>;
		VCCDA2-supply = <&vdd_5v0>;

		#sound-dai-cells = <1>;
	};
};

&i2c3 {
	status = "disabled";
};

&ipu2 {
	status = "disabled";
};

&ldb {
	/* Fix incorrect LVDS clock due ERR009219 patches */
	assigned-clocks = <&clks IMX6QDL_CLK_PLL5_VIDEO>;
	assigned-clock-parents = <0>;
	assigned-clock-rates = <716800000>;

	status = "okay";

	lvds-channel@0 {
		fsl,data-mapping = "spwg";
		fsl,data-width = <18>;
		status = "okay";

		display-timings {
			native-mode = <&timing0>;

			timing0: G104XVN01_0 {
				clock-frequency = <50000000 65000000 81000000>;
				hactive = <1024>;
				vactive = <768>;
				hback-porch = <320>;
				hfront-porch = <24>;
				hsync-len = <136>;
				vback-porch = <38>;
				vfront-porch = <3>;
				vsync-len = <6>;
				de-active = <1>;
			};

			timing1: PH320240T {
				clock-frequency = <6400000>;
				hactive = <320>;
				vactive = <240>;
				hback-porch = <38>;
				hfront-porch = <20>;
				hsync-len = <30>;
				vback-porch = <15>;
				vfront-porch = <5>;
				vsync-len = <1 3 5>;
				hsync-active = <0>;
				vsync-active = <0>;
				de-active = <1>;
			};
		};
	};
};

&led_green {
	linux,default-trigger = LED_FUNCTION_HEARTBEAT;
	function = LED_FUNCTION_HEARTBEAT;
	color = <LED_COLOR_ID_GREEN>;
	default-state = "off";
	panic-indicator;
};

&led_red {
	linux,default-trigger = "usb-host";
	function = LED_FUNCTION_USB;
	color = <LED_COLOR_ID_RED>;
	default-state = "off";
};

&mipi_csi {
	status = "disabled";
};

&pcie {
	status = "disabled";
};

&pwm1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_pwm1>;
	status = "okay";

	#pwm-cells = <2>;
};

&sata {
	status = "okay";
};

&som_flash {
	/delete-node/ partitions;

	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		partition@0 {
			label = "boot";
			reg = <0x00000 0x80000>;
		};

		partition@80000 {
			label = "env";
			reg = <0x80000 0x40000>;
		};

		partition@c0000 {
			label = "init";
			reg = <0xc0000 0>;
		};
	};
};

&spdif {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_spdif>;
	status = "okay";
};

&uart1 {
	status = "disabled";
};

&uart3 {
	status = "disabled";
};

&usbh1 {
	over-current-active-low;
};

&usbotg {
	dr_mode = "host";
	over-current-active-low;

	/delete-property/ disable-over-current;
};

&usdhc2 {
	status = "disabled";
};

&usdhc3 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usdhc3>;
	bus-width = <1>;
	non-removable;

	/delete-property/ cd-gpios;
	/delete-property/ wp-gpios;

	/delete-node/ partition@0;
	/delete-node/ partition@e0000;
};

&vdd_sd0_reg {
	regulator-always-on;
};

&vdd_sd1_reg {
	regulator-always-on;
};

&wdog1 {
	timeout-sec = <10>;
};

&iomuxc {
	imx6q-phytec-pfla02 {
		pinctrl_esai: esaigrp {
			fsl,pins = <
				MX6QDL_PAD_GPIO_2__ESAI_TX_FS		0x130b0
				MX6QDL_PAD_GPIO_6__ESAI_TX_CLK		0x130b0
				MX6QDL_PAD_GPIO_8__ESAI_TX5_RX0		0x130b0
				MX6QDL_PAD_GPIO_17__ESAI_TX0		0x110b0
			>;
		};

		pinctrl_input: inputgrp {
			fsl,pins = <
				MX6QDL_PAD_SD2_DAT2__GPIO1_IO13		0x4000e0b0		/* KB_IRQ */
			>;
		};

		pinctrl_pwm1: pwm1grp {
			fsl,pins = <
				MX6QDL_PAD_DISP0_DAT8__PWM1_OUT		0x1b0b1
			>;
		};

		pinctrl_spdif: spdifgrp {
			fsl,pins = <
				MX6QDL_PAD_ENET_RXD0__SPDIF_OUT		0x1b0b0
				MX6QDL_PAD_GPIO_16__SPDIF_IN		0x1b0b0
			>;
		};

		pinctrl_usbh1: usbh1grp {
			fsl,pins = <
				MX6QDL_PAD_GPIO_0__GPIO1_IO00		0x1b0b0
				MX6QDL_PAD_GPIO_3__USB_H1_OC		0x4001b0b0
			>;
		};

		pinctrl_usbotg: usbotggrp {
			fsl,pins = <
				MX6QDL_PAD_KEY_ROW4__GPIO4_IO15		0x130b0
				MX6QDL_PAD_GPIO_1__USB_OTG_ID		0x40017059
				MX6QDL_PAD_KEY_COL4__USB_OTG_OC		0x4001b0b0
			>;
		};

		pinctrl_usdhc3: usdhc3grp {
			fsl,pins = <
				MX6QDL_PAD_SD3_CMD__SD3_CMD		0x17059
				MX6QDL_PAD_SD3_CLK__SD3_CLK		0x10059
				MX6QDL_PAD_SD3_DAT0__SD3_DATA0		0x17059
			>;
		};
	};
};
