/ {
	model = "Mega-Milas Informer i.MX6";
	compatible = "milas,informer-imx6",
		     "phytec,imx6x-pbab01", "phytec,imx6q-pfla02", "fsl,imx6q";

	chosen {
		/delete-node/ environment-nand;
		/delete-node/ environment-sd1;
		/delete-node/ environment-sd2;
		/delete-node/ environment-sd4;

		environment-spinor {
			compatible = "barebox,environment";
			device-path = &flash, "partname:env";
			status = "disabled";
		};

		environment-sd3 {
			compatible = "barebox,environment";
			device-path = &flash, "partname:env";
			status = "disabled";
		};
	};

	/delete-node/ oscillator;

	regulators {
		/delete-node/ regulator@2;
		/delete-node/ regulator@3;
	};

	/delete-node/ sound;

//	soc {
//		/delete-node/ capture-subsystem;
//
//		display-subsystem {
//			ports = <&ipu1_di0>;
//		};
//	};
};

&asrc {
	status = "disabled";
};

&audmux {
	status = "disabled";
};

&can1 {
	status = "okay";
};

&flash {
	/delete-node/ partition@0;
	/delete-node/ partition@100000;
	/delete-node/ partition@120000;
	/delete-node/ partition@140000;

	partition@0 {
		label = "boot";
		reg = <0x00000 0x80000>;
	};

	partition@80000 {
		label = "env";
		reg = <0x80000 0x40000>;
	};

	partition@c0000 {
		label = "system";
		reg = <0xc0000 0>;
	};
};

&gpmi {
	/delete-node/ partition@0;
	/delete-node/ partition@400000;
	/delete-node/ partition@500000;

	partition@0 {
		label = "system";
		reg = <0 0>;
	};
};

&hdmi {
	status = "disabled";
};

&i2c2 {
	/delete-property/ clock-frequency;
	/delete-node/ tlv320@18;
	/delete-node/ stmpe@41;
	/delete-node/ rtc@51;
	/delete-node/ adc@64;

	/* WM8753 SCLK Low pulse-width MIN 1.3us */
//	clock-frequency = <350000>;

//	wm8753: wm8753@1b {
//		#sound-dai-cells = <0>;
//		compatible = "wlf,wm8753";
//		reg = <0x1b>;
//	};

//	rtc@68 {
//		compatible = "maxim,ds3231";
//		reg = <0x68>;
//		#clock-cells = <1>;
//	};
};

&i2c3 {
	/delete-property/ clock-frequency;
	status = "disabled";
};

//&ipu2 {
//	status = "disabled";
//};

&ldb {
	status = "okay";

	lvds-channel@0 {
		fsl,data-mapping = "spwg";
		fsl,data-width = <18>;
		status = "okay";

		display-timings {
			native-mode = <&timing0>;

			timing0: PH320240T {
				clock-frequency = <6400000>;
				hactive = <320>;
				vactive = <240>;
				hback-porch = <38>;
				hfront-porch = <20>;
				hsync-len = <30>;
				vback-porch = <15>;
				vfront-porch = <5>;
				vsync-len = <1 3 5>;
				pixelclk-active = <1>;
				hsync-active = <0>;
				vsync-active = <0>;
				de-active = <1>;
			};
		};
	};
};

&led_green {
	linux,default-trigger = "heartbeat";
};

&led_red {
	linux,default-trigger = "usb-host";
};

//&mipi_csi {
//	status = "disabled";
//};
//

//&mipi_dsi {
//	status = "okay";
//};

&pcie {
	status = "disabled";
};

&ssi2 {
	status = "disabled";
};

&uart3 {
	status = "disabled";
};

&usbh1 {
// need pins review
//	status = "disabled";
};

&usbotg {
	dr_mode = "host";
// need pins review
// delete ? disable-over-current;
// reg_usb_otg_vbus ? GPIO_ACTIVE_LOW
};

&usdhc2 {
	status = "disabled";
};

&usdhc3 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usdhc3>;
	bus-width = <1>;
	non-removable;

	/delete-property/ cd-gpios;
	/delete-property/ wp-gpios;

	/delete-node/ partition@0;
	/delete-node/ partition@e0000;
};

#if 0
///////////////////////////////////////////////////////////////////////////////
&snvs {
	status = "disabled";
};

///////////////////////////////////////////////////////////////////////////////
#endif

&iomuxc {
	imx6q-phytec-pfla02 {
		pinctrl_uart3: uart3grp {
			fsl,pins = <
				MX6QDL_PAD_EIM_D24__UART3_TX_DATA	0x1b0b1
				MX6QDL_PAD_EIM_D25__UART3_RX_DATA	0x1b0b1
			>;
		};

		pinctrl_usdhc3: usdhc3grp {
			fsl,pins = <
				MX6QDL_PAD_SD3_CMD__SD3_CMD		0x17059
				MX6QDL_PAD_SD3_CLK__SD3_CLK		0x10059
				MX6QDL_PAD_SD3_DAT0__SD3_DATA0		0x17059
			>;
		};
	};
};
