if ARCH_CLPS711X

menu "CLPS711X specific settings"

config CLPS711X_RAISE_CPUFREQ
	bool "Raise CPU frequency to 90 MHz"
	help
	  Raise CPU frequency to 90 MHz. This operation can be performed
	  only for devices which allow to operate at 90 MHz.
	  If option is not selected, CPU frequency will set to default 73 MHz.

endmenu

endif
